 <div id="page-wrapper" [@routerTransition]>
    <app-page-header [heading]="'Nouveau-Client'" [icon]="'fa-table'"></app-page-header>
    <div class="row" >
        <h3 class="page-header">Nouveau Client</h3>
        <div class="col-sm-12" style="margin-top: 2rem;"  *ngIf="zonesactivites">
              <div class="col-sm-12 col-xs-12" >
                  <input type="text" [(ngModel)]="client.nompoint"   name="nompoint" id="nompoint" class="form-control"  placeholder="Nom Point" required>
                  <input type="text" [(ngModel)]="client.prenomgerant"   name="prenomgerant" id="prenomgerant" class="form-control"  placeholder="prénom gérant" required>
                  <input type="text" [(ngModel)]="client.nomgerant"   name="nomgerant" id="nomgerant" class="form-control" placeholder="nom gérant" required>
                  <input type="text" [(ngModel)]="client.telephonegerant"   name="telephonegerant" id="telephonegerant" class="form-control" placeholder="téléphone gérant" required>
                  <input type="email" [(ngModel)]="client.emailgerant"   name="emailgerant" id="emailgerant" class="form-control" placeholder="email gérant" required>
                  <a class="btn btn-outline-primary" style="margin-bottom: 1rem;" (click)="isAdressepoint = !isAdressepoint"
                        [attr.aria-expanded]="!isAdressepoint" aria-controls="collapseExamples"> Adresse point
                  </a>
                  <div id="collapseExamples" [ngbCollapse]="isAdressepoint">
                      <div class="card">
                            <div class="card-block">
                                <label>Zones</label>
                                <select class="form-control input-sm" [(ngModel)]="client.adressecompletpoint.zonepoint" (change)="selectZonePoint()">
                                   <option>--Choix zone--</option>
                                   <option  *ngFor="let zone of zonesactivites.zones">{{zone.nom}}</option>
                                </select>
                                <label>Sous-zones</label>
                                <select class="form-control input-sm" [(ngModel)]="client.adressecompletpoint.souszonepoint">
                                    <option>--Choix sous zone--</option>
                                    <option  *ngFor="let souszone of souszonespoints">{{souszone.nom}}</option>
                                </select>
                                <label>Adresse exacte</label>
                                <input type="text" [(ngModel)]="client.adressecompletpoint.adressepoint"   name="adressepoint" id="adressepoint" class="form-control"  placeholder="adresse exacte" required>
                                <label>Code postal</label>
                                <input type="number" [(ngModel)]="client.adressecompletpoint.codepostalpoint"   name="codepostalpoint" id="codepostalpoint" class="form-control"  placeholder="code postal point">
                                <button (click)="coordonneesgeospatialespoint()" type="button" class="btn btn-default btn-circle">
                                    <i class="fa fa-search"></i>Recherche Coordonnées Géospatiales du point
                                </button>
                             <button (click)="enregistercoordonneesgeospatialespoint()" class="btn btn-sm btn-primary" >Valider les coordonnées</button>
                            </div>
                      </div>
                  </div>
                  <input type="text" [(ngModel)]="client.prenomproprietaire"   name="prenomproprietaire" id="prenomproprietaire" class="form-control"  placeholder="prénom propiétaire" required>
                  <input type="text" [(ngModel)]="client.nomproprietaire"   name="nomproprietaire" id="nomproprietaire" class="form-control" placeholder="nom propiétaire" required>
                  <input type="text" [(ngModel)]="client.telephoneproprietaire"   name="telephoneproprietaire" id="telephoneproprietaire" class="form-control" placeholder="téléphone propiétaire" required>
                  <input type="email" [(ngModel)]="client.emailproprietaire"   name="emailpropietaire" id="emailpropietaire" class="form-control" placeholder="email propiétaire" required>
                  <a style="margin-bottom: 1rem;" class="btn btn-outline-primary" (click)="isAdresseproprio = !isAdresseproprio"
                      [attr.aria-expanded]="!isAdresseproprio" aria-controls="collapseExample">
                      Adresse propriétaire
                  </a>
                  <div id="collapseExample" [ngbCollapse]="isAdresseproprio">
                      <div class="card">
                            <div class="card-block">
                                <label>Zones</label>
                                <select class="form-control input-sm" [(ngModel)]="client.adressecompletproprietaire.zoneproprietaire" (change)="selectZoneProprietaire()">
                                    <option>--Choix zone--</option>
                                    <option  *ngFor="let zone of zonesactivites.zones">{{zone.nom}}</option>
                                </select>
                                <label>Sous zones</label>
                                <select class="form-control input-sm" [(ngModel)]="client.adressecompletproprietaire.souszoneproprietaire">
                                    <option>--Choix sous zone--</option>
                                    <option  *ngFor="let souszone of souszonespropietaires">{{souszone.nom}}</option>
                                </select>
                                <label>Adresse exacte</label>
                                <input type="text" [(ngModel)]="client.adressecompletproprietaire.adresseproprietaire" name="adresseproprietaire" id="adresseproprietaire" class="form-control"  placeholder="adresse exacte" required>
                                <label>Code postal</label>
                                <input type="number" [(ngModel)]="client.adressecompletproprietaire.codepostalproprietaire" name="codepostalproprietaire" id="codepostalproprietaire" class="form-control"  placeholder="code postal propriétaire">
                                <button (click)="coordonneesgeospatialesproprietaire()" type="button" class="btn btn-default btn-circle">
                                    <i class="fa fa-search"></i>Recherche Coordonnées Géospatiales du proprietaire
                                </button>
                                <button (click)="enregistercoordonneesgeospatialesproprietaire()" class="btn btn-sm btn-primary">Enregistrer</button>
                            </div>
                      </div>
                  </div>
                  <h5>Types d'activités</h5>
                  <div class="row">
                        <div  *ngFor="let option of options"  class="col-sm-6 col-xs-12">
                          <input type="checkbox" name="options" value="{{option.value}}"
                                 [(ngModel)]="option.checked" (change)="updateCheckedOptions()"
                          />
                          {{option.name}}
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <label>Autre ...</label>
                        </div>
                  </div>
                  <button style="margin-top:4rem; margin-bottom: 1rem;" class="btn btn-outline-primary" (click)="isSelect = !isSelect"
                        [attr.aria-expanded]="!isSelect" aria-controls="collapseExampl"> Prospection
                  </button>
                  <div id="collapseExampl" [ngbCollapse]="isSelect">
                        <div class="card">
                         <div class="col-xs-12 col-sm-12">

                            <div class="row table-responsive">
                                <table class="table table-hover" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                                    <thead>
                                    <tr>
                                        <th><mfDefaultSorter by="reponse">Réponse</mfDefaultSorter></th>
                                        <th><mfDefaultSorter by="postcash">PostCash</mfDefaultSorter></th>
                                        <th><mfDefaultSorter by="tigocash">TigoCash</mfDefaultSorter></th>
                                        <th><mfDefaultSorter by="tnt">TNT</mfDefaultSorter></th>
                                        <th><mfDefaultSorter by="ria">RIA</mfDefaultSorter></th>
                                        
                                    </tr>
                                    <tr>
                                </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let item of mf.data">
                                        <td>{{item.reponse}}</td>
                                        <td><input type="radio" name="one"/></td>
                                        <td><input type="radio" name="two"/></td>
                                        <td><input type="radio" name="three"/></td>
                                        <td><input type="radio" name="prospects"/></td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr class="text-center center-block">
                                        <td colspan="8" class="text-center center-block">
                                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        </div>
                  </div>
                  <button style="margin-top:4rem; margin-bottom: 1rem;" class="btn btn-outline-primary" (click)="isUploadfile = !isUploadfile"
                        [attr.aria-expanded]="!isUploadfile" aria-controls="collapseExamplees">
                        Recueille de documents
                  </button>
                  <div id="collapseExamplees" [ngbCollapse]="isUploadfile">
                        <div class="card">
                            <div class="card-block">
                           <fieldset class="form-group" _ngcontent-c25="" style="margin-top: 1rem;">
                                <label>Libellé</label><select class="form-control input-sm">
                                        <option>--Choisir le type de pièce--</option>
                                        <option>CIN</option>
                                        <option>Passport</option>
                                        <option>Carte Consulaire</option>
                                        <option> Autres Pièce... </option>
                                        </select>
                                <label class="ng-tns-c25-10" for="exampleInputFile" _ngcontent-c25="">Choisir un fichier</label>
                                <input class="form-control-file" id="exampleInputFile" type="file" _ngcontent-c25="">
                            </fieldset>
                            </div>
                        </div>
                   </div>
                   <div>
                       <label>Avis sur point</label>
                        <p>
                          <span *ngFor="let option of rating"><i [ngClass]="{'fa': true, 'fa-heart-o': !option.checked, 'fa-heart': option.checked}" aria-hidden="true" (click)="avoter(option.indice)"></i></span>
                        </p>
                  </div>
            </div>
        </div>
    </div>
    <div style="margin-top: 4rem; margin-bottom: 4rem" class="text-center">
        <button type="button" class="btn btn-success" (click)="validernewclient()"> Valider client</button>
    </div>
</div>
