<div [@routerTransition]>
    <app-page-header [heading]="'Forms'" [icon]="'fa-edit'"></app-page-header>
    <div class="row">
        <div class="col-sm-6 col-xs-12">

            <form (ngSubmit)="enregistrerProspect()" #newCustomerForm="ngForm">
                <div [hidden]="this.fakevalues" class="alert alert-danger">Les données que vous avez saisies sont invalides !</div>

                <input type="text"   class="form-control" placeholder="Login" required autofocus>

                <input type="text"   class="form-control" placeholder="Mot de pass" required>

                <button class="btn btn-primary " type="submit" [disabled]="!newCustomerForm.form.valid" >Enregistrer Prospect</button>

                <button class="btn btn-danger " type="submit" [disabled]="!newCustomerForm.form.valid" >Annuler</button>               
            </form>

        </div>
    </div>
</div>
