<div class="pos-f-t fixed-top header">
    <nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
        <button class="navbar-toggler navbar-toggler-right" (click)="toggleSidebar()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="javascript:void(0)">Plateforme de suivi</a>

        <div class="collapse navbar-collapse">

            <ul class="navbar-nav ml-auto mt-2 mt-md-0">
                <!--                                 <li class="nav-item dropdown" ngbDropdown>
                    <a class="nav-link" href="javascript:void(0)" ngbDropdownToggle>
                        <i class="fa fa-envelope"></i> <b class="caret"></b><span class="sr-only">(current)</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right messages">
                        <li class="media">
                            <img class="d-flex align-self-center mr-3" src="http://i.huffpost.com/gadgets/slideshows/461162/slide_461162_6224974_sq50.jpg" alt="Generic placeholder image">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">John Smith</h5>
                                <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                <p class="last"> Lorem ipsum dolor sit amet, consectetur...</p>
                            </div>
                        </li>
                        <li class="media">
                            <img class="d-flex align-self-center mr-3" src="http://i.huffpost.com/gadgets/slideshows/461162/slide_461162_6224974_sq50.jpg" alt="Generic placeholder image">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">John Smith</h5>
                                <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                <p class="last"> Lorem ipsum dolor sit amet, consectetur...</p>
                            </div>
                        </li>
                        <li class="media">
                            <img class="d-flex align-self-center mr-3" src="http://i.huffpost.com/gadgets/slideshows/461162/slide_461162_6224974_sq50.jpg" alt="Generic placeholder image">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">John Smith</h5>
                                <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                <p class="last"> Lorem ipsum dolor sit amet, consectetur...</p>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown" ngbDropdown>
                    <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                        <i class="fa fa-bell"></i> <b class="caret"></b><span class="sr-only">(current)</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <a href="javascript:void(0)" class="dropdown-item">Pending Task <span class="badge badge-info">6</span></a>
                        <a href="javascript:void(0)" class="dropdown-item">In queue <span class="badge badge-info"> 13</span></a>
                        <a href="javascript:void(0)" class="dropdown-item">Mail <span class="badge badge-info"> 45</span></a>
                        <li class="dropdown-divider"></li>
                        <a href="javascript:void(0)" class="dropdown-item">View All</a>
                    </ul>
                </li>
<li class="nav-item dropdown" ngbDropdown>
                    <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                        <i class="fa fa-language"></i> {{ 'language' | translate }} <b class="caret"></b>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('en')">English</a>
                        <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('fr')">French</a>
                        <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('ur')">Urdu</a>
                        <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('es')">Spanish</a>
                    </div>
                </li>
 -->                <li class="nav-item dropdown" ngbDropdown>
                    <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                        <i class="fa fa-user"></i> {{currentUsername}} <b class="caret"></b>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-fw fa-user"></i> Profile</a>
                        <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        <a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                    </div>
                </li>
            </ul>
        </div>
  <!--      <button type="button" class="btn btn-primary" id="chatHoveredButton" (click)="chatShow()">Chat</button> -->
    </nav>
</div>
<div class="container" style="">
    <div class="row  hidden-sm hidden-xs chat-window col-xs-5 col-md-3" id="chat_window" style="">
        <div class="col-xs-12 col-md-12" *ngIf="chatWindows" >
          <div *ngFor="let chatWindow of chatWindows" class="chatWindows">
            <div class="panel panel-default"  id='"id":{{chatWindow.id}},"nom":"{{chatWindow.nom}}","prenom":"{{chatWindow.prenom}}"' (click)="focussed($event)">
                <div class="panel-heading top-bar">
                    <div class="col-md-12 col-xs-12">
                         <span class="close-chat" (click)="chatShowThisWindow($event)"><a href="#" style="color: white; ">X</a></span>
                        <h6 class="panel-title" >Chat - <span>{{ chatWindow.prenom }}  {{ chatWindow.prenom }}</span></h6>
                    </div>

                </div>

                <div class="panel-body msg_container_base" id="panel-body" *ngIf="msgsRe.messages" >
                    <div class="" *ngFor="let msg of msgsRe.messages">

                        <div class="row msg_container base_sent" *ngIf="msg.expediteur.id==my.id && msg.recepteurs.id==chatWindow.id">
                            <div class="col-xs-10 col-md-10">
                               <div class="messages msg_sent">
                                    <p>{{ msg.message }}</p>
                                    <span *ngIf="msg.lu">✓</span>
                                   <time datetime="2009-11-13T20:00">{{ msg.dateMsg }}</time>
                               </div>
                            </div>
                            <div class="col-md-2 col-xs-2 avatar">
                                 <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class=" img-responsive ">
                            </div>
                        </div>

                        <div class="row msg_container base_receive" *ngIf="msg.expediteur.id!=my.id && msg.recepteurs.id==chatWindow.id">
                           <div class="col-md-2 col-xs-2 avatar">
                               <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class=" img-responsive ">
                           </div>
                           <div class="col-md-10 col-xs-10">
                               <div class="messages msg_receive">
                                   <time datetime="2009-11-13T20:00">{{ msg.dateMsg }}</time>
                                   <p>{{ msg.message }}</p>
                               </div>
                            </div>
                       </div>

                    </div>
                </div>

                <div class="panel-footer">
                    <div class="input-group">
                        <input [(ngModel)]="msg" (keypress)="sendMsgPress($event.keyCode)" name="input" type="text" class="form-control input-sm chat_input" placeholder="Ecrivez votre message ici..." id="chatEdit"/>
                        <span class="input-group-btn">
                        <button class="btn btn-primary btn-sm" (click)="sendMsg()">Send</button>
                        </span>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
    <div class="onlineUser">
        <div class="row onlineUser-body chat-hidden" *ngIf="users">
              <input type="text" name="name-user" (keyup)="findUsers($event)" placeholder="rechercher">
               <table class="table">
                                <tr *ngFor="let user of users">
                                    <td>
                                      <span class="glyphicon text-success"><img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class="img-circle" /></span><a href="#" class='"id":{{user.id}},"nom":"{{user.nom}}","prenom":"{{user.prenom}}"' id="a" (click)="userIdFunc($event)">{{ user.prenom }} {{ user.nom }}</a>
                                        <span class="badge">0</span>
                                    </td>
                                </tr>
                </table>
        </div>
        <div class="row onlineUser-footer">
             <button type="button" class="btn btn-primary" id="" (click)="usersShow()"><span class="glyphicon glyphicon-comment"></span> Chat</button>
        </div>
    </div>
</div>
