<h3 class="page-header"><u>Marketing Com</u></h3>
<div class="row" style="padding-bottom: 1rem;padding-top: 1rem">
    <div class="page-header col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-center center-block">
        <button type="button" [ngClass]="{'btn': true, 'btn-sm': true, 'btn-primary': !menuHead.menuHead1, 'btn-success': menuHead.menuHead1}" (click)="menuHeadClick(1)" style="margin-bottom: 1rem;">Modification adresse points</button>
        <button type="button" [ngClass]="{'btn': true, 'btn-sm': true, 'btn-primary': !menuHead.menuHead2, 'btn-success': menuHead.menuHead2}" (click)="menuHeadClick(2)" style="margin-bottom: 1rem;">New Réclamations</button>
        <button type="button" [ngClass]="{'btn': true, 'btn-sm': true, 'btn-primary': !menuHead.menuHead3, 'btn-success': menuHead.menuHead3}" (click)="menuHeadClick(3)" style="margin-bottom: 1rem;">FAQ</button>
    </div>
    <hr>
</div>

<div class="container-fluid" *ngIf="menuHead.menuHead1">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="row">
                <table class="table table-hover table-responsive" [mfData]="listepointsdepoye | dataFilterModifAdressePoint: filterQueryModifAdressePts" #mfModifAdressePts="mfDataTable" [mfRowsOnPage]="rowsOnPageModifAdressePts" [(mfSortBy)]="sortByModifAdressePts" [(mfSortOrder)]="sortOrderModifAdressePts">
                    <thead>
                    <tr>
                        <th><mfDefaultSorter by="nom_point">Nom Point</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="fullname_gerant">Client</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="telephone_gerant">Téléphone</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="adresse_point">Adresse</mfDefaultSorter></th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <th colspan="4"> Recherche: <input class="form-control" placeholder="Recherche" [(ngModel)]="filterQueryModifAdressePts"/></th>
                        <th>Total : {{listepointsdepoye.length}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of mfModifAdressePts.data; let i = index ">
                        <td>{{item.nom_point}}</td>
                        <td>{{item.fullname_gerant}}</td>
                        <td>{{item.telephone_gerant}}</td>
                        <td>{{item.adresse_point}}</td>
                        <td><button class="btn btn-primary btn-sm" (click)="openModifyAdressePoints(item,contentModifyAdressePoints)">Modifier</button></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr class="text-center center-block">
                        <td colspan="8" class="text-center center-block">
                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25,50,100]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div  class="container-fluid" *ngIf="menuHead.menuHead2" >
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="row">
                <table class="table table-hover table-responsive" [mfData]="listereclamationsnonresolu | dataFilterfilterQueryReclamationsnonresolu: filterQueryReclamationsnonresolu" #mfreclamationsnonresolu="mfDataTable" [mfRowsOnPage]="rowsOnPageReclamationsnonresolu" [(mfSortBy)]="sortByReclamationsnonresolu" [(mfSortOrder)]="sortOrderReclamationsnonresolu">
                    <thead>
                    <tr>
                        <th><mfDefaultSorter by="date_reclamation">Date réclamation</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="nom_point">Nom Point</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="name_caissier">Gérant(e)</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="telephone">Téléphone</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="nomservice">Type service</mfDefaultSorter></th>
                        <th colspan="2" style="text-align: center">Action</th>
                    </tr>
                    <tr>
                        <th colspan="5"> Recherche: <input class="form-control" placeholder="Recherche" [(ngModel)]="filterQueryReclamationsnonresolu"/></th>
                        <th>Total : {{listereclamationsnonresolu.length}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of mfreclamationsnonresolu.data; let i = index ">
                        <td>{{item.date_reclamation}}</td>
                        <td>{{item.nom_point}}</td>
                        <td>{{item.name_caissier}}</td>
                        <td>{{item.telephone}}</td>
                        <td>{{item.nomservice}}</td>
                        <td style="margin: 0 auto; text-align: center">
                            <button type="button" class="btn btn-outline-warning btn-sm" ngbPopover="{{item.message}}" triggers="mouseenter:mouseleave" popoverTitle="Sujet: {{item.sujet}}">Voir réclamation</button>
                        </td>
                        <td><button class="btn btn-success btn-sm" (click)="validresolutionreclamation(item)">Résoudre</button></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr class="text-center center-block">
                        <td colspan="8" class="text-center center-block">
                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div  class="container-fluid" *ngIf="menuHead.menuHead3" >
    jdskflq
</div>



<ng-template #contentModifyAdressePoints let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title"> Adresse points "{{pointsdepoye.nom_point}}" {{pointsdepoye.telephone_gerant}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group row">
            <label for="regionSentoolModif" class="col-sm-3 col-form-label">Région</label>
            <div class="col-sm-9">
                <select class="form-control input-sm" id="regionSentoolModif" name="regionSentoolModif" [(ngModel)]="pointsdepoye.adressecomplet.region" (change)="selectRegion()">
                    <option selected>--Choix région--</option>
                    <option *ngFor="let region of regions">{{region.nom}}</option>
                </select>
            </div>
        </div>

        <div class="form-group row" *ngIf="iszones && pointsdepoye.adressecomplet.region!='--Choix région--'">
            <label for="zoneSentoolModif" class="col-sm-3 col-form-label">Zones</label>
            <div class="col-sm-9">
                <select class="form-control input-sm" id="zoneSentoolModif" name="zoneSentoolModif" [(ngModel)]="pointsdepoye.adressecomplet.zone" (change)="selectZone()">
                    <option>--Choix zone--</option>
                    <option  *ngFor="let zone of zones">{{zone.nom}}</option>
                </select>
            </div>
        </div>

        <div class="form-group row" *ngIf="issouszones && pointsdepoye.adressecomplet.zone!='--Choix zone--'">
            <label for="souzoneSentoolModif" class="col-sm-3 col-form-label">Sous zones</label>
            <div class="col-sm-9">
                <select class="form-control input-sm" id="souzoneSentoolModif" name="souzoneSentoolModif" [(ngModel)]="pointsdepoye.adressecomplet.souszone">
                    <option>--Choix sous zone--</option>
                    <option  *ngFor="let souszone of souszones">{{souszone.nom}}</option>
                </select>
            </div>
        </div>

        <div class="form-group row" *ngIf="issouszones && pointsdepoye.adressecomplet.souszone!='--Choix sous zone--'">
            <label for="adresseSentoolModif" class="col-sm-3 col-form-label">Adresse exacte</label>
            <div class="col-sm-9">
                <textarea class="form-control" id="adresseSentoolModif" name="adresseSentoolModif" [(ngModel)]="pointsdepoye.adressecomplet.address" placeholder="Adresse exacte" rows="3"></textarea>
            </div>
        </div>

    </div>
    <div class="modal-footer text-center" style="text-align: center !important; margin: 0 auto">
        <button type="button" class="btn btn-success btn-sm"
                (click)="validmodifyadressepoints()"
                [disabled]="!pointsdepoye.adressecomplet.address || pointsdepoye.adressecomplet.souszone=='--Choix sous zone--' || pointsdepoye.adressecomplet.zone=='--Choix zone--' || pointsdepoye.adressecomplet.region=='--Choix région--'"
        >Valider</button>
    </div>
</ng-template>
