<div class="row" *ngIf="loading_data" style="margin-top:3rem; position: fixed; z-index: 100; width: 100%; height: 100%; vertical-align:middle; background-color: white; opacity: 0.7">
    <img src="assets/images/loading_1.gif" style="margin-left: 50%; margin-top: 19%; max-height: 10% !important;
"/>
</div>
<div class="row" style="padding-bottom: 1rem;padding-top: 1rem">
    <div class="page-header col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-center center-block">
        <button type="button" class="btn btn-dark btn-sm" (click)="goBack()" style="margin-bottom: 1rem;">Précedent</button>
        <button type="button" [ngClass]="{'btn': true, 'btn-sm': true, 'btn-primary': !menuHead.menuHead1, 'btn-success': menuHead.menuHead1}" (click)="menuHeadClick(1)" style="margin-bottom: 1rem;">{{listegeolocalises.length}} Points sentool</button>
    </div>
    <hr>
</div>

<div  class="container-fluid" *ngIf="menuHead.menuHead1" style="background-color: white">
    <agm-map [latitude]="centercartelat" [longitude]="centercartelng" [zoom]="centercartezoom" [fullscreenControl]="true" [mapTypeControl]="true">
        <agm-marker  [latitude]="bbslat" [longitude]="bbslng" iconUrl="assets/icon/flag.png">
            <agm-info-window>
                <strong>BBS INVEST</strong><br>
                Au meilleur du partenariat
            </agm-info-window>
        </agm-marker>

        <agm-marker
            *ngFor="let item of listegeolocalises; let i = index"
            [latitude]="item.geoposition.latitude"
            [longitude]="item.geoposition.longitude"
            iconUrl="assets/icon/{{item.categorie}}.png"
        >
            <agm-info-window>
                Point: <strong>{{item.nom_point}}</strong>, <br>
                Superviseur: <strong>{{item.prenom_admin}} {{item.nom_admin}} {{item.tel_admin}}</strong><br>
                Gerant: <strong>{{item.fullname_gerant}} {{item.telephone_gerant}}</strong><br>
                Adresse: <strong>{{item.adresse_point}}</strong>
            </agm-info-window>
        </agm-marker>

    </agm-map>
</div>
