<p style="text-align: center"><i class="fa fa-3x fa-arrow-down" aria-hidden="true" style="margin-left: auto; margin-right: auto"></i></p>
<div class="text-center center-block">
    <button style="margin-bottom: 1rem;" type="button" [ngClass]="{'btn': true, 'btn-sm': true, 'btn-primary': !sousmenuHead.menuHead3, 'btn-success': sousmenuHead.menuHead3}" (click)="sousmenuHeadClick(3)" style="margin-bottom: 1rem;">Suivi global</button>
	<button style="margin-bottom: 1rem;" type="button" [ngClass]="{'btn': true, 'btn-sm': true, 'btn-primary': !sousmenuHead.menuHead1, 'btn-success': sousmenuHead.menuHead1}" (click)="sousmenuHeadClick(1)" style="margin-bottom: 1rem;">Suivi superviseurs</button>
	<button style="margin-bottom: 1rem;" type="button" [ngClass]="{'btn': true, 'btn-sm': true, 'btn-primary': !sousmenuHead.menuHead2, 'btn-success': sousmenuHead.menuHead2}" (click)="sousmenuHeadClick(2)" style="margin-bottom: 1rem;">Suivi commerçiaux</button>
</div>
<hr>


<div class="container" style="padding-bottom: 2rem" *ngIf="sousmenuHead.menuHead1">
	<div class="row" style="padding-bottom: 2rem" *ngIf="datacommercial">
        <div class="col-sm-3">
            <label class="label-control">Nombre d'Affichage</label>
            <select class="form-control input-sm" [(ngModel)]="rowsOnPage">
                <option [ngValue]="5">5</option>
                <option [ngValue]="10">10</option>
                <option [ngValue]="25">25</option>
                <option [ngValue]="50">50</option>
            </select>
        </div>
        <div class="col-sm-3">
            <label>Zone</label>
            <select class="form-control input-sm" [(ngModel)]="filtreZone">
                <option></option>
                <option  *ngFor="let zone of zones">{{zone}}</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="row">
            	<table class="table table-hover table-responsive table-sm" [mfData]="datasuperviseur | zonesAdminFilter: filtreZone | dataAdminFilter: filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
			        <thead>
			            <tr>
			                <th><mfDefaultSorter by="dateassignation">Date assignation</mfDefaultSorter></th>
			                <th><mfDefaultSorter by="fullname">Superviseur</mfDefaultSorter></th>
			                <th><mfDefaultSorter by="telelephone">Téléphone</mfDefaultSorter></th>
			                <th><mfDefaultSorter by="zone">Zone</mfDefaultSorter></th>
			                <th>Performance</th>
			            </tr>
			            <tr>
			                <th colspan="5">
			                    Recherche:
			                    <input class="form-control" [(ngModel)]="filterQuery"/>
			                </th>
			        	</tr>
			        </thead>
			        <tbody>
			            <tr *ngFor="let item of mf.data">
			                <td>Depuis le {{item.dateassignation | date:'dd/MM/yyyy'}}</td>
			                <td>{{item.fullname}}</td>
			                <td>{{item.telephone}}</td>
			                <td>{{item.zone}}</td>
			                <td>
							    <app-progressionby [max]="item.objectif" [dynamic]="item.atteint"></app-progressionby>
							</td>
			            </tr>
			        </tbody>
			        <tfoot>
			            <tr class="text-center center-block">
			                <td colspan="8" class="text-center center-block">
			                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25,50,100]"></mfBootstrapPaginator>
			                </td>
			            </tr>
			        </tfoot>
    			</table>
			</div>
		</div>
	</div>
</div>

<div class="container" style="padding-bottom: 2rem" *ngIf="sousmenuHead.menuHead2">
	<div class="row" style="padding-bottom: 2rem" *ngIf="datacommercial">
        <div class="col-sm-3">
            <label class="label-control">Nombre d'Affichage</label>
            <select class="form-control input-sm" [(ngModel)]="rowsOnPage">
                <option [ngValue]="5">5</option>
                <option [ngValue]="10">10</option>
                <option [ngValue]="25">25</option>
                <option [ngValue]="50">50</option>
            </select>
        </div>
        <div class="col-sm-3">
            <label>Zone</label>
            <select class="form-control input-sm" [(ngModel)]="filtreZone">
                <option></option>
                <option  *ngFor="let zone of zones">{{zone}}</option>
            </select>
        </div>
        <div class="col-sm-3">
            <label>Sous zone</label>
            <select class="form-control input-sm" [(ngModel)]="filtreSousZone">
                <option></option>
                <option  *ngFor="let souszone of sousZonesOfCurrentZone()">{{souszone}}</option>
            </select>
        </div>
    </div>

	<div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="row">
		    	<table class="table table-hover table-responsive table-sm" [mfData]="datacommercial | zonesAdminFilter: filtreZone | souszonesAdminFilter: filtreSousZone | dataAdminFilter: filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
			    	<thead>
				        <tr>
				            <th><mfDefaultSorter by="dateassignation">Date</mfDefaultSorter></th>
				            <th><mfDefaultSorter by="fullname_superviseur">Superviseur</mfDefaultSorter></th>
				            <th><mfDefaultSorter by="fullname_commercial">Commercial</mfDefaultSorter></th>
				            <th><mfDefaultSorter by="telephone">Téléphone</mfDefaultSorter></th>
				            <th>Performance</th>
				        </tr>
				        <tr><th colspan="5">
					            Recherche:
					            <input class="form-control" [(ngModel)]="filterQuery"/>
					    </th></tr>
			        </thead>
			        <tbody>
				        <tr *ngFor="let item of mf.data">
				            <td>Depuis le {{item.dateassignation | date:'dd/MM/yyyy'}}</td>
				            <td>{{item.fullname_superviseur}}</td>
				            <td>{{item.fullname_commercial}}</td>
				            <td>{{item.telephone}}</td>
				            <td><app-progressionby [max]="item.objectif" [dynamic]="item.atteint"></app-progressionby></td>
				        </tr>
			        </tbody>
			        <tfoot>
				        <tr class="text-center center-block">
				            <td colspan="8" class="text-center center-block">
				                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25,50,100]"></mfBootstrapPaginator>
				            </td>
				        </tr>
			        </tfoot>
			    </table>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid" *ngIf="sousmenuHead.menuHead3">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header card-primary">
                    <div class="panel panel-heading">
                        <h5><i class="fa fa-pie-chart"></i>Performance globale.</h5>
                    </div>
                </div>
                <div class="card-body">
                    <canvas height="150" baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="'doughnut'" ></canvas>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card">
                <div class="card-header card-primary">
                    <div class="panel panel-heading">
                        <h5>Performance CC.</h5>
                    </div>
                </div>
                <div class="card-body">
                    <canvas height="150" baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="'doughnut'" ></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 2rem"  *ngIf="data">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header card-primary">
                    <div class="panel panel-heading">
                        <h5><i class="fa fa-pie-chart"></i>Etat déposit des points par lot.</h5>
                    </div>
                </div>
                <div class="card-body">
                    <canvas baseChart [datasets]="barChartDataSuperviseur" [labels]="barChartLabelsSuperviseur" [options]="barChartOptions" [legend]="true" [chartType]="'bar'"></canvas>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card">
                <div class="card-header card-primary">
                    <div class="panel panel-heading">
                        <h5>Performance Commerciaux.</h5>
                    </div>
                </div>
                <div class="card-body">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="true" [chartType]="'bar'"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
