<div [@routerTransition]>
    <app-page-header [heading]="'Tables'" [icon]="'fa-table'"></app-page-header>
    
    <div class="row" style="padding-bottom: 2rem">
        <div class="col-sm-3">
            <label class="label-control">Recherche:</label>
            <input class="form-control" [(ngModel)]="filterQuery"/>
        </div>
        <div class="col-sm-3">
            <label class="label-control">Nombre d'Affichage</label>
            <select class="form-control input-sm" [(ngModel)]="rowsOnPage">
                <option [ngValue]="5">5</option>
                <option [ngValue]="10">10</option>
                <option [ngValue]="25">25</option>
                <option [ngValue]="50">50</option>
            </select>
        </div>
        <div class="col-sm-3">
            <label>Zone</label>
            <select class="form-control input-sm" >
                <option >zones</option>
            </select>
        </div>
        <div class="col-sm-3">
            <label>Sous zone</label>
            <select class="form-control input-sm" >
                <option >sous zones</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12">
            
            <div class="row table-responsive">
                <table class="table table-hover" [mfData]="data | dataFilter: filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                    <tr>
                        <th><mfDefaultSorter by="dateajout">Date creation</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="libellepoint">Nom Point</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="prenom">Prenom</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="nom">Nom</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="telephone">Téléphone</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="adresse">Adresse</mfDefaultSorter></th>
                        <th>Action</th>
                        <th>Option</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of mf.data">
                        <td>{{item.dateajout | date}}</td>
                        <td>{{item.libellepoint}}</td>
                        <td>{{item.prenom}}</td>
                        <td>{{item.nom}}</td>
                        <td>{{item.tel}}</td>
                        <td>{{item.adresse}}</td>
                        <td ><button>Visualiser sur Map</button></td>
                        <td><button>Prospecter</button></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="4">
                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
