<div id="page-deposit" [@routerTransition]>
     <app-page-header [heading]="'Deposit client'" [icon]="'fa-table'"></app-page-header>
    <div>
		<!--<button (click)="listDeposit()">afficher</button>-->
		 <div *ngIf="resul" class="col-lg-12 col-sm-12 col-md-12 col-xs-12" >
					  
						<p>
							 Nous certifions,<br>
							 BBS Invest Sarl au capital de 7 000 000 FCFA, dont le siége social est situé aux HLM GRAND MEDINE Villa 159,immatriculé au registre du commerce sous le numero -SN DKR 2014 -NINEA : 004999978,
							 representé ici par<b style="font-size:1.5em"> {{deposits.commercial}} </b>en sa qualite de conseiller commercial(e), déclarons avoir reçu la somme de <b style="font-size:1.5em">{{deposits.montant}} FCFA</b>, de <b style="font-size:1.5em">{{deposits.entreprise}}</b> representé par <b style="font-size:1.5em">{{deposits.superviseur}}</b>
							 <br><br>
							 Ce montant perçu en guise de caution,permet au point de vente d'utiliser les services proposée par la plateforme SENTOOL mise à la diposition par BBS Invest .
							 <br><br>
							 en foi de quoi, cette présente décharge à été établie pour servir et valoir ce que de droit .
							 <br><br>
							 
						</p>
			<input type="button" (click)="validerdeposite()" value="valider" class="col-2 btn btn-success form-control" />
			<input type="button" value="annuler" class="col-2 btn btn-danger form-control"  />		
		</div>
		<div *ngIf="err">
			<p class="alert alert-danger">pas de deposit en cour</p>
		</div>
    </div>
</div>
