<div class="login-page" [@routerTransition]>
    <div class="row">
        <div class="col-md-4 push-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>Plateforme BBS</h1>
            <form role="form"  (ngSubmit)="wantLogin()" #heroForm="ngForm">
                <div class="form-content">
                    <div [hidden]="this.fakevalues" class="alert alert-danger">Login ou Mot de pass invalide !</div>
                    <div class="form-group">
                        <input type="email" name="userName" [(ngModel)]="this.userName" class="form-control input-underline input-lg" id="userName" placeholder="Email"  required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" name="userPwd" [(ngModel)]="this.userPwd" class="form-control input-underline input-lg" id="userPwd" placeholder="Password"  required>
                    </div>
                </div>
                <button class="btn btn-lg btn-primary btn-block rounded-btn" type="submit" [disabled]="!heroForm.form.valid" >
                    Connecter</button>
            </form>
        </div>
    </div>
</div>