<h3 class="page-header"><u>Administrateur administration</u></h3>
<div class="row" style="padding-bottom: 1rem;padding-top: 1rem">
    <div class="page-header col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-center center-block">
<!--    <button type="button" [ngClass]="{'btn': true, 'btn-sm': true, 'btn-primary': !menuHead.menuHead1, 'btn-success': menuHead.menuHead1}" (click)="menuHeadClick(1)" style="margin-bottom: 1rem;">Anciens points</button>-->
        <button type="button" [ngClass]="{'btn': true, 'btn-sm': true, 'btn-primary': !menuHead.menuHead2, 'btn-success': menuHead.menuHead2}" (click)="menuHeadClick(2)" style="margin-bottom: 1rem;">Status points</button>
        <button type="button" [ngClass]="{'btn': true, 'btn-sm': true, 'btn-primary': !menuHead.menuHead3, 'btn-success': menuHead.menuHead3}" (click)="menuHeadClick(3)" style="margin-bottom: 1rem;">Points souscrits</button>
        <button type="button" [ngClass]="{'btn': true, 'btn-sm': true, 'btn-primary': !menuHead.menuHead5, 'btn-success': menuHead.menuHead5}" (click)="menuHeadClick(5)" style="margin-bottom: 1rem;">Réclamations</button>
    </div>
    <hr>
</div>

<div  class="container-fluid" *ngIf="menuHead.menuHead1" >
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="row">
                <table class="table table-hover table-responsive table-sm" [mfData]="listencienpoints | dataFilterNewPointAdminAdmin: filterQueryNewPoint" #mfNewPoint="mfDataTable" [mfRowsOnPage]="rowsOnPageNewPoint" [(mfSortBy)]="sortByNewPoint" [(mfSortOrder)]="sortOrderNewPoint">
                    <thead>
                    <tr>
                        <th><mfDefaultSorter by="date_ajout">Date ajout</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="nom_point">Nom Point</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="fullname_gerant">Gérant(e)</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="telephone_gerant">Téléphone</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="adresse_point" style="margin: 0 auto; text-align: center">Adresse</mfDefaultSorter></th>
                        <th colspan="3" style="margin: 0 auto; text-align: center">Action</th>
                    </tr>
                    <tr>
                        <th colspan="4"> Recherche: <input class="form-control" placeholder="Recherche" [(ngModel)]="filterQueryNewPoint"/></th>
                        <th>Total : {{listencienpoints.length}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of mfNewPoint.data; let i = index ">
                        <td>{{item.date_ajout}}</td>
                        <td>{{item.nom_point}}</td>
                        <td>{{item.fullname_gerant}}</td>
                        <td>{{item.telephone_gerant}}</td>
                        <td>{{item.adresse_point}}</td>
                        <td><button style="background-color: orange" class="btn btn-sm" (click)="validresouscritsentool(item,'ancien')" *ngIf="item.infosup.service_sentool==0"><i class="fa fa-check"></i> Sentool</button></td>
                        <td><button style="background-color: yellow" class="btn btn-sm" (click)="validresouscritwafacash(item,'ancien')" *ngIf="item.infosup.service_wafacash==0"><i class="fa fa-check"></i> Wafacash</button></td>
                        <td><button style="background-color: green" class="btn btn-sm" (click)="validresouscritsentoolandwafacash(item,'ancien')" *ngIf="item.infosup.service_sentool==0 && item.infosup.service_wafacash==0"><i class="fa fa-check"></i> Sen & Wafa</button></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr class="text-center center-block">
                        <td colspan="8" class="text-center center-block">
                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25,50,100]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div  class="container-fluid" *ngIf="menuHead.menuHead2" >
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="row">
                <table class="table table-hover table-responsive table-sm" [mfData]="listenewpoints | dataFilterNewPointAdminAdmin: filterQueryNewPoint" #mfNewPoint="mfDataTable" [mfRowsOnPage]="rowsOnPageNewPoint" [(mfSortBy)]="sortByNewPoint" [(mfSortOrder)]="sortOrderNewPoint">
                    <thead>
                    <tr>
                        <th><mfDefaultSorter by="date_ajout">Date ajout</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="nom_point">Nom Point</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="fullname_gerant">Client</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="telephone_gerant">Téléphone</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="adresse_point">Adresse</mfDefaultSorter></th>
                        <th colspan="2" style="margin: 0 auto; text-align: center">Action</th>
                    </tr>
                    <tr>
                        <th colspan="4"> Recherche: <input class="form-control" placeholder="Recherche" [(ngModel)]="filterQueryNewPoint"/></th>
                        <th>Total : {{listenewpoints.length}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of mfNewPoint.data; let i = index">
                        <td>{{item.date_ajout}}</td>
                        <td>{{item.nom_point}}</td>
                        <td>{{item.fullname_gerant}}</td>
                        <td>{{item.telephone_gerant}}</td>
                        <td>{{item.adresse_point}}</td>
                        <td><button style="background-color: orange" class="btn btn-sm" (click)="validresouscritsentool(item,'nouveau')" *ngIf="item.infosup.service_sentool==0"><i class="fa fa-check"></i> Sentool</button></td>
                        <td><button style="background-color: yellow" class="btn btn-sm" (click)="validresouscritwafacash(item,'nouveau')" *ngIf="item.infosup.service_wafacash==0"><i class="fa fa-check"></i> Wafacash</button></td>
                        <td><button style="background-color: green" class="btn btn-sm" (click)="validresouscritsentoolandwafacash(item,'nouveau')" *ngIf="item.infosup.service_sentool==0 && item.infosup.service_wafacash==0"><i class="fa fa-check"></i> Sen & Wafa</button></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr class="text-center center-block">
                        <td colspan="8" class="text-center center-block">
                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25,50,100]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div  class="container-fluid" *ngIf="menuHead.menuHead3" >
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="row">
                <table class="table table-hover table-responsive table-sm" [mfData]="listepointsouscritbbs | dataFilterNewPointAdminAdmin: filterQueryPointSouscription" #mfPointSouscription="mfDataTable" [mfRowsOnPage]="rowsOnPagePointSouscription" [(mfSortBy)]="sortByPointSouscription" [(mfSortOrder)]="sortOrderPointSouscription">
                    <thead>
                    <tr>
                        <th><mfDefaultSorter by="date_ajout">Date ajout</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="nom_point">Nom Point</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="fullname_gerant">Client</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="telephone_gerant">Téléphone</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="adresse_point">Adresse</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="souscription">Souscription</mfDefaultSorter></th>
                    </tr>
                    <tr>
                        <th colspan="4"> Recherche: <input class="form-control" placeholder="Recherche" [(ngModel)]="filterQueryPointSouscription"/></th>
                        <th>Total : {{listepointsouscritbbs.length}}</th>
                    </tr>
                    <tr>
                        <th colspan="8">
                            <div style="color: black; text-align: center;">
                                <!--<span style="background-color: blue;"> Pas encore </span>&nbsp;&nbsp;-->
                                <span style="background-color: orange;"> Sentool </span>&nbsp;&nbsp;
                                <span style="background-color: yellow;"> Wafacash </span>&nbsp;&nbsp;
                                <span style="background-color: green;"> Sentool et Wafacash </span>
                                <br/>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of mfPointSouscription.data; let i = index" [ngStyle]="{'color': 'white', 'background-color': (item.infosup.service_sentool==1 && item.infosup.service_wafacash==0)?'orange':(item.infosup.service_sentool==0 && item.infosup.service_wafacash==1)?'yellow':'green'}">
                        <td>{{item.date_ajout}}</td>
                        <td>{{item.nom_point}}</td>
                        <td>{{item.fullname_gerant}}</td>
                        <td>{{item.telephone_gerant}}</td>
                        <td>{{item.adresse_point}}</td>
                        <td>{{item.souscription}}</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr class="text-center center-block">
                        <td colspan="8" class="text-center center-block">
                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25,50,100]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div  class="container-fluid" *ngIf="menuHead.menuHead5" >
    <h2>Liste des réclamations</h2>
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="row">
                <table class="table table-hover table-responsive table-sm" [mfData]="listereclamationsnonresolu | dataFilterfilterQueryReclamationsnonresoluAdminAdmin: filterQueryReclamationsnonresolu" #mfreclamationsnonresolu="mfDataTable" [mfRowsOnPage]="rowsOnPageReclamationsnonresolu" [(mfSortBy)]="sortByReclamationsnonresolu" [(mfSortOrder)]="sortOrderReclamationsnonresolu">
                    <thead>
                    <tr>
                        <th><mfDefaultSorter by="date_reclamation">Date réclamation</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="nom_point">Nom Point</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="name_caissier">Gérant(e)</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="telephone">Téléphone</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="nomservice">Type service</mfDefaultSorter></th>
                        <th colspan="2" style="text-align: center">Action</th>
                    </tr>
                    <tr>
                        <th colspan="5"> Recherche: <input class="form-control" placeholder="Recherche" [(ngModel)]="filterQueryReclamationsnonresolu"/></th>
                        <th>Total : {{listereclamationsnonresolu.length}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of mfreclamationsnonresolu.data; let i = index ">
                        <td>{{item.date_reclamation}}</td>
                        <td>{{item.nom_point}}</td>
                        <td>{{item.name_caissier}}</td>
                        <td>{{item.telephone}}</td>
                        <td>{{item.nomservice}}</td>
                        <td style="margin: 0 auto; text-align: center">
                            <button type="button" class="btn btn-outline-warning btn-sm" ngbPopover="{{item.message}}" triggers="mouseenter:mouseleave" popoverTitle="Sujet: {{item.sujet}}">Voir réclamation</button>
                        </td>
                        <td><button class="btn btn-success btn-sm" (click)="validresolutionreclamation(item)">Résoudre</button></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr class="text-center center-block">
                        <td colspan="8" class="text-center center-block">
                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

