<div class="row" *ngIf="loading_data" style="margin-top:3rem; position: fixed; z-index: 100; width: 100%; height: 100%; vertical-align:middle; background-color: white; opacity: 0.7">
    <img src="assets/images/loading_1.gif" style="margin-left: 50%; margin-top: 19%; max-height: 10% !important;
"/>
</div>
<div class="row" style="padding-bottom: 1rem;padding-top: 1rem">
    <div class="page-header col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-center center-block">
        <button type="button" [ngClass]="{'btn': true, 'btn-sm': true, 'btn-primary': !menuHead.menuHead2, 'btn-success': menuHead.menuHead2}" (click)="menuHeadClick(2)" style="margin-bottom: 1rem;">Status points</button>
        <button type="button" [ngClass]="{'btn': true, 'btn-sm': true, 'btn-primary': !menuHead.menuHead3, 'btn-success': menuHead.menuHead3}" (click)="menuHeadClick(3)" style="margin-bottom: 1rem;">Points souscrits</button>
        <!--<button type="button" [ngClass]="{'btn': true, 'btn-sm': true, 'btn-primary': !menuHead.menuHead4, 'btn-success': menuHead.menuHead4}" (click)="menuHeadClick(4)" style="margin-bottom: 1rem;">Modify Point crm incomplet</button>-->
        <button type="button" [ngClass]="{'btn': true, 'btn-sm': true, 'btn-primary': !menuHead.menuHead6, 'btn-success': menuHead.menuHead6}" (click)="menuHeadClick(6)" style="margin-bottom: 1rem;">Etat Déposit</button>
        <button type="button" [ngClass]="{'btn': true, 'btn-sm': true, 'btn-primary': !menuHead.menuHead7, 'btn-success': menuHead.menuHead7}" (click)="menuHeadClick(7)" style="margin-bottom: 1rem;">Historique deposit</button>
        <button type="button" [ngClass]="{'btn': true, 'btn-sm': true, 'btn-primary': !menuHead.menuHead9, 'btn-success': menuHead.menuHead9}" (click)="menuHeadClick(9)" style="margin-bottom: 1rem;">Etat positionnement</button>
        <button type="button" [ngClass]="{'btn': true, 'btn-sm': true, 'btn-primary': !menuHead.menuHead1, 'btn-success': menuHead.menuHead1}" (click)="menuHeadClick(1)" style="margin-bottom: 1rem;">Bilan positionnement</button>
        <button type="button" [ngClass]="{'btn': true, 'btn-sm': true, 'btn-primary': true}" style="margin-bottom: 1rem;" [routerLink]="['/adminadministratif', 'cartoadministratif']">Cartographie</button>
    </div>
    <hr>
</div>

<div  class="container-fluid" *ngIf="menuHead.menuHead1" >
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class=" row" style="margin-bottom: 2rem; margin-left: 3rem; margin-right: 3rem">
                <div class="col-sm-6">
                    <label class="label-control" for="datejourPositionnement">Date par jour:</label>
                    <div class="row">
                        <input type="date" id="datejourPositionnement" name="datejour" [(ngModel)]="selectionjourPositionnement" style="margin-right: 1rem"/>
                        <button type="button" class="btn btn-primary btn-sm" (click)="historiquejourPositionnement()" [disabled]="selectionjourPositionnement==undefined" >Chercher</button>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="label-control">Date par intervalle:</label>
                    <div class="row">
                        <input type="date" name="intervalledateinitPositionnement" [(ngModel)]="selectionintervalledateinitPositionnement"  style="margin-right: 0.5rem"/> à <input type="date" name="intervalleddatefinalPositionnement" [(ngModel)]="selectionintervalleddatefinalPositionnement"  style="margin-left: 0.5rem; margin-right: 1rem" />
                        <button type="button" class="btn btn-primary btn-sm" (click)="historiqueintervallePositionnement()" [disabled]="selectionintervalledateinitPositionnement>selectionintervalleddatefinalPositionnement || selectionintervalledateinitPositionnement==undefined || selectionintervalleddatefinalPositionnement==undefined " >Chercher</button>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 1rem; margin-bottom: 1rem; text-align: center">
                <div class="col-sm-1" style="margin-bottom: 1rem;">
                    <button (click)="showModalDepotCompteBBS(contentDepotBBS)" class="btn bg-info btn-sm">Ajout Depot BBS</button>
                </div>
            </div>
            <div class="row" style="margin-top: 1rem; margin-bottom: 1rem; text-align: center" *ngIf="listedepotCompteBBS.length!=0">
                <div class="col-sm-2" style="margin-bottom: 0.5rem;" *ngFor="let item of listedepotCompteBBS; let i = index ">
                    <div [ngClass]="{'card': true, 'text-white': true, 'bg-danger': ((item.caution==0) || ((item.cautionconsomme/item.caution)<0.10)), 'bg-warning': (((item.cautionconsomme/item.caution)>=0.10) && ((item.cautionconsomme/item.caution)<0.35)), 'bg-info': (((item.cautionconsomme/item.caution)>=0.50) && ((item.cautionconsomme/item.caution)<0.75)), 'bg-success': (item.cautionconsomme/item.caution)>=0.75 }">
                        <div class="card-body">
                            <h6 class="card-title">({{ ((item.cautionconsomme/item.caution) * 100) | number : '1.2'}}%) {{tocurrency(item.cautionconsomme)}}</h6>
                            <p class="card-text">{{item.nomservice}} <i (click)="showModalBilanBilanPositionnementAllDetail(contentRecouvrementAllDetail,detailRecouvrement.promesses)" class="fa fa-search-plus pull-right" style="margin-right: 1rem; cursor: pointer" aria-hidden="true"></i></p>
                        </div>
                    </div>
                    <!--<div [ngClass]="{'card': true, 'text-white': true, 'bg-danger': ((item.caution==0) || ((item.cautionconsomme/item.caution)<0.10)), 'bg-warning': (((item.cautionconsomme/item.caution)>=0.10) && ((item.cautionconsomme/item.caution)<0.35)), 'bg-info': (((item.cautionconsomme/item.caution)>=0.50) && ((item.cautionconsomme/item.caution)<0.75)), 'bg-success': (item.cautionconsomme/item.caution)>=0.75 }">
                        <div class="card-body">
                            <h6 class="card-title">({{ ((item.cautionconsomme/item.caution) * 100) }}%) {{tocurrency(item.cautionconsomme)}}</h6>
                            <p class="card-text">{{item.nomservice}} <i (click)="showModalBilanBilanPositionnementAllDetail(contentRecouvrementAllDetail,detailRecouvrement.promesses)" class="fa fa-search-plus pull-right" style="margin-right: 1rem; cursor: pointer" aria-hidden="true"></i></p>
                        </div>
                    </div>-->
                </div>
            </div>
            <div class="row" style="margin-top: 1rem; margin-bottom: 1rem; text-align: center">
                <div class="col-sm-6">
                    <div class="card-header" style="text-align: center">
                        <div *ngIf="touslesjours.length!=0 && lineChartData.length!=0 && lineChartLabels.length!=0">
                            <canvas baseChart height="100" #baseChart1="base-chart"
                                    [datasets]="lineChartData"
                                    [labels]="lineChartLabels"
                                    [options]="lineChartOptions"
                                    [legend]="lineChartLegend"
                                    [chartType]="lineChartType" ></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" style="margin-bottom: 1px;">
                    <h4 class="card-title" style="text-align: center">Performance CC</h4>
                    <table class="table table-hover table-sm">
                        <thead>
                        <tr style="text-align: center">
                            <th width="5%">#</th>
                            <th width="25%">CC</th>
                            <th width="19%">Promises</th>
                            <th width="17%">Positionnés</th>
                            <th width="17%">Payés</th>
                            <th width="17%">Versés</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr [ngStyle]="{'color': 'black', 'background-color': 'blue'}">
                            <td width="5%">*</td>
                            <td width="25%" (click)="clickPositionnement(detailRecouvrement.promesses.list)" style="cursor: pointer">ALL</td>
                            <td width="19%"  class="bg-danger" style="text-align: right">
                                <p style="cursor: pointer" (click)="showModalBilanBilanPositionnementAllDetail(contentRecouvrementAllDetail,detailRecouvrement.promesses)">
                                    ({{tocurrency(detailRecouvrement.promesses.nbre)}}) <i class="fa fa-search-plus pull-right" aria-hidden="true"></i>
                                    <br>
                                    {{tocurrency(detailRecouvrement.promesses.montant)}}
                                </p>
                            </td>
                            <td width="17%" class="bg-info"  style="text-align: right">
                                <p style="cursor: pointer" (click)="showModalBilanBilanPositionnementAllDetail(contentRecouvrementAllDetail,detailRecouvrement.positionnes)">
                                    ({{tocurrency(detailRecouvrement.positionnes.nbre)}}) <i class="fa fa-search-plus pull-right" aria-hidden="true"></i>
                                    <br>
                                    {{tocurrency(detailRecouvrement.positionnes.montant)}}
                                </p>
                            </td>
                            <td width="17%" class="bg-warning" style="text-align: right">
                                <p style="cursor: pointer" (click)="showModalBilanBilanPositionnementAllDetail(contentRecouvrementAllDetail,detailRecouvrement.payes)">
                                    ({{tocurrency(detailRecouvrement.payes.nbre)}}) <i class="fa fa-search-plus pull-right" aria-hidden="true"></i>
                                    <br>
                                    {{tocurrency(detailRecouvrement.payes.montant)}}
                                </p>
                            </td>
                            <td width="17%" class="bg-success"  style="text-align: right">
                                <p style="cursor: pointer" (click)="showModalBilanBilanPositionnementAllDetail(contentRecouvrementAllDetail,detailRecouvrement.verses)">
                                    ({{tocurrency(detailRecouvrement.verses.nbre)}}) <i class="fa fa-search-plus pull-right" aria-hidden="true"></i>
                                    <br>
                                    {{tocurrency(detailRecouvrement.verses.montant)}}
                                </p>
                            </td>
                        </tr>
                        <tr *ngFor="let item of listeBilanPositionnementCC; let i = index; let first = first; let last = last" [ngStyle]="{'color': 'black', 'background-color': first?'green':last?'red':'orange'}">
                            <td width="5%">{{i+1}}</td>
                            <td width="25%" (click)="clickPositionnement(item.list)" style="cursor: pointer">{{item.cc}}</td>
                            <td width="19%" class="bg-danger" style="text-align: right">
                                <p style="cursor: pointer" (click)="showModalBilanBilanPositionnementAllDetail(contentRecouvrementAllDetail,item.detail.promesses)">
                                    ({{tocurrency(item.detail.promesses.nbre)}}) <i class="fa fa-search-plus pull-right" aria-hidden="true"></i>
                                    <br>
                                    {{tocurrency(item.detail.promesses.montant)}}
                                </p>
                            </td>
                            <td width="17%" class="bg-info" style="text-align: right">
                                <p style="cursor: pointer" (click)="showModalBilanBilanPositionnementAllDetail(contentRecouvrementAllDetail,item.detail.positionnes)">
                                    ({{tocurrency(item.detail.positionnes.nbre)}}) <i class="fa fa-search-plus pull-right" aria-hidden="true"></i>
                                    <br>
                                    {{tocurrency(item.detail.positionnes.montant)}}
                                </p>
                            </td>
                            <td width="17%" class="bg-warning" style="text-align: right">
                                <p style="cursor: pointer" (click)="showModalBilanBilanPositionnementAllDetail(contentRecouvrementAllDetail,item.detail.payes)">
                                    ({{tocurrency(item.detail.payes.nbre)}}) <i class="fa fa-search-plus pull-right" aria-hidden="true"></i>
                                    <br>
                                    {{tocurrency(item.detail.payes.montant)}}
                                </p>
                            </td>
                            <td width="17%" class="bg-success" style="text-align: right">
                                <p style="cursor: pointer" (click)="showModalBilanBilanPositionnementAllDetail(contentRecouvrementAllDetail,item.detail.verses)">
                                    ({{tocurrency(item.detail.verses.nbre)}}) <i class="fa fa-search-plus pull-right" aria-hidden="true"></i>
                                    <br>
                                    {{tocurrency(item.detail.verses.montant)}}
                                </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div  class="container-fluid" *ngIf="menuHead.menuHead2" >
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="row">
                <table class="table table-hover table-responsive table-sm" [mfData]="listenewpoints | dataFilterNewPointAdminAdmin: filterQueryNewPoint" #mfNewPoint="mfDataTable" [mfRowsOnPage]="rowsOnPageNewPoint" [(mfSortBy)]="sortByNewPoint" [(mfSortOrder)]="sortOrderNewPoint">
                    <thead>
                    <tr>
                        <th><mfDefaultSorter by="date_ajout">Date ajout</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="nom_point">Nom Point</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="fullname_gerant">Client</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="telephone_gerant">Téléphone</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="adresse_point">Adresse</mfDefaultSorter></th>
                        <th colspan="2" style="margin: 0 auto; text-align: center">Action</th>
                    </tr>
                    <tr>
                        <th colspan="4"> Recherche: <input class="form-control" placeholder="Recherche" [(ngModel)]="filterQueryNewPoint"/></th>
                        <th>Total : {{listenewpoints.length}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of mfNewPoint.data; let i = index">
                        <td>{{item.date_ajout}}</td>
                        <td>{{item.nom_point}}</td>
                        <td>{{item.fullname_gerant}}</td>
                        <td>{{item.telephone_gerant}}</td>
                        <td>{{item.adresse_point}}</td>
                        <td><button style="background-color: orange" class="btn btn-sm" (click)="validresouscritsentool(item,'nouveau')" *ngIf="item.infosup.service_sentool==0"><i class="fa fa-check"></i> Sentool</button></td>
                        <td><button style="background-color: yellow" class="btn btn-sm" (click)="validresouscritwafacash(item,'nouveau')" *ngIf="item.infosup.service_wafacash==0"><i class="fa fa-check"></i> Wafacash</button></td>
                        <td><button style="background-color: green" class="btn btn-sm" (click)="validresouscritsentoolandwafacash(item,'nouveau')" *ngIf="item.infosup.service_sentool==0 && item.infosup.service_wafacash==0"><i class="fa fa-check"></i> Sen & Wafa</button></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr class="text-center center-block">
                        <td colspan="8" class="text-center center-block">
                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25,50,100]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div  class="container-fluid" *ngIf="menuHead.menuHead3" >
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="row">
                <table class="table table-hover table-responsive table-sm" [mfData]="listepointsouscritbbs | dataFilterNewPointAdminAdmin: filterQueryPointSouscription" #mfPointSouscription="mfDataTable" [mfRowsOnPage]="rowsOnPagePointSouscription" [(mfSortBy)]="sortByPointSouscription" [(mfSortOrder)]="sortOrderPointSouscription">
                    <thead>
                    <tr>
                        <th><mfDefaultSorter by="date_ajout">Date ajout</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="nom_point">Nom Point</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="fullname_gerant">Client</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="telephone_gerant">Téléphone</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="adresse_point">Adresse</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="souscription">Souscription</mfDefaultSorter></th>
                    </tr>
                    <tr>
                        <th colspan="4"> Recherche: <input class="form-control" placeholder="Recherche" [(ngModel)]="filterQueryPointSouscription"/></th>
                        <th>Total : {{listepointsouscritbbs.length}}</th>
                    </tr>
                    <tr>
                        <th colspan="8">
                            <div style="color: black; text-align: center; font-size: larger;">
                                <!--<span style="background-color: blue;"> Pas encore </span>&nbsp;&nbsp;-->
                                <span style="background-color: orange;"> Sentool </span>&nbsp;&nbsp;
                                <span style="background-color: yellow;"> Wafacash </span>&nbsp;&nbsp;
                                <span style="background-color: green;"> Sentool et Wafacash </span>
                                <br/>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of mfPointSouscription.data; let i = index" [ngStyle]="{'color': 'white', 'background-color': (item.infosup.service_sentool==1 && item.infosup.service_wafacash==0)?'orange':(item.infosup.service_sentool==0 && item.infosup.service_wafacash==1)?'yellow':'green'}">
                        <td>{{item.date_ajout}}</td>
                        <td>{{item.nom_point}}</td>
                        <td>{{item.fullname_gerant}}</td>
                        <td>{{item.telephone_gerant}}</td>
                        <td>{{item.adresse_point}}</td>
                        <td>{{item.souscription}}</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr class="text-center center-block">
                        <td colspan="8" class="text-center center-block">
                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25,50,100]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div  class="container-fluid" *ngIf="menuHead.menuHead4" >
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="row">
                <table class="table table-hover table-responsive table-sm" [mfData]="points | dataFilterAdminadministratifPDVCRMINCOM: filterQueryPDVCRMINCOM" #mfPDVCRMINCOM="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                    <tr>
                        <th><mfDefaultSorter by="date_ajout">Date ajout</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="libellepoint">Nom Point</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="fullname_proprietaire">Propriétaire</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="fullname_gerant">Gérant(e)</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="telephone_gerant">Téléphone</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="email_gerant">email</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="adresse">Adresse</mfDefaultSorter></th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <th colspan="5">Recherche: <input class="form-control" [(ngModel)]="filterQueryPDVCRMINCOM"/></th>
                        <th>Total : {{points.length}}</th>
                    </tr>
                    <tr>
                        <th colspan="8">
                            <div style="color: black; text-align: center;">
                                <span style="background-color: blue;"> Pas encore </span>&nbsp;&nbsp;
                                <span style="background-color: orange;"> Sentool </span>&nbsp;&nbsp;
                                <span style="background-color: yellow;"> Wafacash </span>&nbsp;&nbsp;
                                <span style="background-color: green;"> Sentool et Wafacash </span>
                                <br/>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of mfPDVCRMINCOM.data; let i = index " [ngStyle]="{'color': 'black', 'background-color': (item.infosup.service_sentool==1 && item.infosup.service_wafacash==1)?'green':(item.infosup.service_sentool==0 && item.infosup.service_wafacash==1)?'yellow':(item.infosup.service_sentool==1 && item.infosup.service_wafacash==0)?'green':'blue'}">
                        <td>{{item.date_ajout}}</td>
                        <td>{{item.libellepoint}}</td>
                        <td>{{item.fullname_proprietaire}}</td>
                        <td>{{item.fullname_gerant}}</td>
                        <td>{{item.telephone_gerant}}</td>
                        <td>{{item.email_gerant}}</td>
                        <td>{{item.adresse}}, {{item.sous_zone}}, {{item.zone}}, {{item.region}}</td>
                        <td><button type="button" class="btn btn-primary btn-sm" (click)="showModalModifPoint(contentModifPoint, item)">Modifier</button></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr class="text-center center-block">
                        <td colspan="8" class="text-center center-block">
                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div  class="container-fluid" *ngIf="menuHead.menuHead6" >
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="row">
                <table class="table table-hover table-responsive" [mfData]="listeetatdeposit | dataFilterAdminadministratifEtat: filterQueryEtatDeposit" #mfEtatDeposit="mfDataTable" [mfRowsOnPage]="rowsOnPageEtatDeposit" [(mfSortBy)]="sortByEtatDeposit" [(mfSortOrder)]="sortOrderEtatDeposit">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th><mfDefaultSorter by="point">Point</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="superviseur">Superviseur</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="telephone">Téléphone</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="last_deposit">Dernier dépot</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="date_update">Date dépot</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="montantactuel">Déposit restant</mfDefaultSorter></th>
                        <th>Option</th>
                    </tr>
                    <tr>
                        <th colspan="4"> Recherche: <input class="form-control" placeholder="Recherche" [(ngModel)]="filterQueryEtatDeposit"/></th>
                        <th>Total : {{listeetatdeposit.length}}</th>
                    </tr>
                    <tr>
                        <th colspan="6">
                            <div style="color: black; text-align: center;">
                                <span style="background-color: blue; color: black; text-align: center"> pas déposit </span>&nbsp;
                                <span style="background-color: red; color: black; text-align: center ;"> déposit &lsaquo; 25% </span>&nbsp;
                                <span style="background-color: orange; color: black; text-align: center;"> 25% déposit 50% </span>&nbsp;
                                <span style="background-color: green; color: black; text-align: center"> déposit &rsaquo; 50% </span>
                                <br/>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of mfEtatDeposit.data; let i = index " [ngStyle]="{'color': 'black', 'background-color': item.last_deposit==0?'blue':((100*item.montantactuel)/item.last_deposit)<25?'red':((100*item.montantactuel)/item.last_deposit)>=25 && ((100*item.montantactuel)/item.last_deposit)<=50?'orange':'green'}">
                        <td>{{i+1}}</td>
                        <td>{{item.point}}</td>
                        <td>{{item.superviseur}}</td>
                        <td>{{item.telephone}}</td>
                        <td style="text-align: right">{{tocurrency(item.last_deposit)}}</td>
                        <td>{{item.date_update}}</td>
                        <td style="text-align: right">{{tocurrency(item.montantactuel)}}</td>
                        <td style="text-align: right"><button (click)="showModalFaireUnDepot(contentValiderFaireUnDepot,item)" class="btn btn-primary btn-sm">faire un depot</button></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr class="text-center center-block">
                        <td colspan="8" class="text-center center-block">
                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25,50,100]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div  class="container-fluid" *ngIf="menuHead.menuHead7" >
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class=" row" style="margin-bottom: 2rem; margin-left: 3rem; margin-right: 3rem">
                <div class="col-sm-6">
                    <label class="label-control" for="datejour">Date par jour:</label>
                    <div class="row">
                        <input type="date" id="datejour" name="datejour" [(ngModel)]="selectionjour" style="margin-right: 1rem"/>
                        <button type="button" class="btn btn-primary btn-sm" (click)="historiquejourDepositCaution()" [disabled]="selectionjour==undefined" >Chercher</button>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="label-control">Date par intervalle:</label>
                    <div class="row">
                        <input type="date" name="intervalledateinit" [(ngModel)]="selectionintervalledateinit"  style="margin-right: 0.5rem"/> à <input type="date" name="intervalleddatefinal" [(ngModel)]="selectionintervalleddatefinal"  style="margin-left: 0.5rem; margin-right: 1rem" />
                        <button type="button" class="btn btn-primary btn-sm" (click)="historiqueintervalleDepositCaution()" [disabled]="selectionintervalledateinit>selectionintervalleddatefinal || selectionintervalledateinit==undefined || selectionintervalleddatefinal==undefined " >Chercher</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <table class="table table-hover table-responsive" [mfData]="listebilandeposit | dataFilterAdminadministratifBilan: filterQueryBilanDeposit" #mfBilanDeposit="mfDataTable" [mfRowsOnPage]="rowsOnPageBilanDeposit" [(mfSortBy)]="sortByBilanDeposit" [(mfSortOrder)]="sortOrderBilanDeposit">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th><mfDefaultSorter by="point">Point</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="superviseur">Superviseur</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="telephone">Téléphone</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="montant">Montant dépot</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="date_update">Date dépot</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="maj_by">Validé par</mfDefaultSorter></th>
                    </tr>
                    <tr>
                        <th colspan="4"> Recherche: <input class="form-control" placeholder="Recherche" [(ngModel)]="filterQueryBilanDeposit"/></th>
                        <th>Nombre Total: {{listebilandeposit.length}} Déposits</th>
                        <th>Montant Total: {{tocurrency(totaldeposit)}} FCFA.</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of mfBilanDeposit.data; let i = index ">
                        <td>{{i+1}}</td>
                        <td>{{item.point}}</td>
                        <td>{{item.superviseur}}</td>
                        <td>{{item.telephone}}</td>
                        <td style="text-align: right">{{tocurrency(item.montant)}}</td>
                        <td>{{item.date_update}}</td>
                        <td>{{item.maj_by}}</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr class="text-center center-block">
                        <td colspan="8" class="text-center center-block">
                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25,50,100]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div  class="container-fluid" *ngIf="menuHead.menuHead9" >
    <recouvrement-demandedepot></recouvrement-demandedepot>
</div>

<ng-template #contentDepotBBS let-c="close" let-d="dismiss" >
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title pull-left">Crediter compte BBS</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="typeservice">Type service</label>
                        <select class="form-control input-sm" id="typeservice" name="typeservice" [(ngModel)]="typeservice" >
                            <option *ngFor="let item of getListeServiceBBS">{{item.nomservice}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label for="montanttypeservice">Monatnt versé</label>
                    <input type="number" min="0" class="form-control" id="montanttypeservice" name="montanttypeservice" [(ngModel)]="montanttypeservice" placeholder="somme verser"  required>
                </div>
                <div class="col-sm-3"><br><br>{{tocurrency(montanttypeservice)}}</div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" [disabled]="!typeservice || montanttypeservice<1 || montanttypeservice==undefined" (click)="valideDepotCompteBBS()">Valider</button><button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuler</button>
        </div>
    </div>
</ng-template>

<ng-template #contentRecouvrementAllDetail let-c="close" let-d="dismiss" >
    <div class="modal-content" *ngIf="bilanPositionnementAllDetail">
        <div class="modal-header">
            <h4 class="modal-title pull-left">Historique recouvrements pour {{bilanPositionnementAllDetail.type | uppercase}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <table class="table table-hover table-sm">
                <thead>
                <tr>
                    <th>Date demande</th>
                    <th>Point</th>
                    <th>Téléphone</th>
                    <th>Demandé</th>
                    <th>Positionné</th>
                    <th>Payé</th>
                    <th>Versé</th>
                </tr>
                <!--<tr>
                    <th colspan="4"> Recherche: <input class="form-control" placeholder="Recherche" [(ngModel)]="filterQueryBilanPositionnementAllDetail"/></th>
                </tr>-->
                </thead>
                <tbody>
                <tr *ngFor="let item of bilanPositionnementAllDetail.list; let i = index" [ngStyle]="{'color': 'black', 'background-color': (item.recouvre_by=='attente' && item.etatpositionnement==0 && item.etatpayement==0 && item.etatversement==0)?'red':(item.recouvre_by!='attente' && item.etatpositionnement==0 && item.etatpayement==0 && item.etatversement==0)?'orange':(item.etatpositionnement==0 || item.etatpayement==0 || item.etatversement==0)?'yellow':'green'}">
                    <td>{{item.datedemande | date:"dd-MM-yyyy"}}</td>
                    <td>{{item.point}}</td>
                    <td>{{item.telephone}}</td>
                    <td style="text-align: right">{{tocurrency(item.montant)}}</td>
                    <td style="text-align: right">{{tocurrency(item.etatpositionnement)}}</td>
                    <td style="text-align: right">{{tocurrency(item.etatpayement)}}</td>
                    <td style="text-align: right">{{tocurrency(item.etatversement)}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')"><span aria-hidden="true">&times;</span></button>
        </div>
    </div>
</ng-template>

<ng-template #contentValiderFaireUnDepot let-c="close" let-d="dismiss" >
    <div class="modal-content" *ngIf="pointdemandedepot">
        <div class="modal-header">
            <h4 class="modal-title pull-left">Faire un depot pour {{pointdemandedepot.superviseur}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-7">
                    <input type="number" min="0" class="form-control" id="montantfairedepot" name="montantfairedepot" [(ngModel)]="montantfairedepot" placeholder="montant dépot"  required>
                </div>
                <div class="col-sm-2">
                    {{tocurrency(montantfairedepot)}}
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" [disabled]="montantfairedepot<1 || montantfairedepot==undefined" (click)="valideFaireUnDepot()">Valider</button><button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuler</button>
        </div>
    </div>
</ng-template>
<!--<ng-template #contentValidePayementDepot let-c="close" let-d="dismiss" >
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title pull-left">Payement depot reçu</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-7">
                    <input type="number" min="0" class="form-control" id="montantpayement" name="montantpayement" [(ngModel)]="montantpayement" placeholder="somme payer"  required>
                </div>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="modepayement" name="modepayement" [(ngModel)]="modepayement" placeholder="mode payement"  required>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" [disabled]="montantpayement<1 || montantpayement==undefined || !modepayement" (click)="validePayementDepot()">Valider</button><button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuler</button>
        </div>
    </div>
</ng-template>
<ng-template #contentValideVersementDepot let-c="close" let-d="dismiss" >
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title pull-left">Versement depot reçu</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-6">
                    <input type="number" min="0" class="form-control" id="montantversement" name="montantversement" [(ngModel)]="montantversement" placeholder="somme verser"  required>
                </div>
                <div class="col-sm-3">
                    <button type="button" class="btn btn-success" [disabled]="montantversement<1 || montantversement==undefined" (click)="valideVersementDepot()">Valider</button>
                </div>
                <div class="col-sm-3">
                    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuler</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>-->
<ng-template #contentModifPoint let-c="close" let-d="dismiss" >
    <div class="modal-body">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
        <app-modif-pdv-incomplet [infoprospect]="point"></app-modif-pdv-incomplet>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click'); getPointsInfosIncomplets();">Fermer</button>
    </div>
</ng-template>
