<div class="row" style="padding-bottom: 2rem">
  <div class="page-header col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-center center-block">
    <h1>Modification</h1>
    <hr>
  </div>
</div>
<div class="row" style="padding-bottom: 2rem" *ngIf="alldatapoint && regionszonesactivites">
  <div class="col-sm-12"  *ngIf="adresse_point">
      <div class="row">
          <div class="form-group col-sm-12">
              <label for="nom_point">Nom du point</label>
              <input type="text" name="nom_point" id="nom_point" [(ngModel)]="alldatapoint.nom_point" class="form-control"  placeholder="nom point">
          </div>
      </div>
      <div class="row">
          <div class="form-group col-sm-3">
              <label>Region point</label>
              <select class="form-control input-sm" [(ngModel)]="adresse_point.regionpoint" (change)="selectRegionPoint()">
                  <option>--Choix région--</option>
                  <option  *ngFor="let region of regionszonesactivites.regions">{{region.nom}}</option>
                  <option  >autre</option>
              </select>
          </div>
          <div class="form-group col-sm-3">
              <label>Zone point</label>
              <select class="form-control input-sm" [(ngModel)]="adresse_point.zonepoint" (change)="selectZonePoint()">
                  <option>--Choix zone--</option>
                  <option  *ngFor="let zone of zonespoints">{{zone.nom}}</option>
                  <option>autre</option>
              </select>
          </div>
          <div class="form-group col-sm-3">
              <label>Sous zone point</label>
              <select class="form-control input-sm" [(ngModel)]="adresse_point.souszonepoint">
                  <option>--Choix sous zone--</option>
                  <option  *ngFor="let souszone of souszonespoints">{{souszone.nom}}</option>
                  <option>autre</option>
              </select>
          </div>
          <div class="form-group col-sm-3">
              <label>Code postale</label>
              <input type="number" [(ngModel)]="adresse_point.codepostalpoint"   name="codepostalpoint" id="codepostalpoint" class="form-control"  placeholder="code postal point">
          </div>
      </div>
      <div class="row">
          <fieldset class="form-group  col-sm-6">
              <label>Adresse du point</label>
              <textarea class="form-control" rows="3" [(ngModel)]="adresse_point.adressepoint"   name="adressepoint" id="adressepoint" class="form-control"  placeholder="adresse exacte" required></textarea>
          </fieldset>
          <fieldset class="form-group  col-sm-6">
              <label>Cordonnées geospatiales du point</label>
              <button (click)="coordonneesgeospatiales()" type="button" class="btn btn-primary btn-sm btn-circle">
                  <i class="fa fa-search"></i>Rechercher Coordonnées Géospatiales
              </button>
          </fieldset>
      </div>
      <hr>
      <div class="row">
          <div class="form-group col-md-6 col-sm-6 col-xs-6">
            <label>Prénom gerant</label>
            <input type="text" [(ngModel)]="alldatapoint.prenom_gerant"   name="prenomgerant" id="prenomgerant" class="form-control"  placeholder={{infoprospect.prenom}} required>
          </div>
          <div class="form-group col-md-6 col-sm-6 col-xs-6">
            <label>Nom gerant</label>
            <input type="text" [(ngModel)]="alldatapoint.nom_gerant"   name="nomgerant" id="nomgerant" class="form-control" placeholder={{infoprospect.nom}} required>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6 col-sm-6 col-xs-6">
            <label>Téléphone gerant</label>
            <input type="number" [(ngModel)]="alldatapoint.telephone_gerant"   name="telephonegerant" id="telephonegerant" class="form-control" placeholder={{infoprospect.tel}} required>
          </div>
          <div class="form-group col-md-6 col-sm-6 col-xs-6">
            <label>Email gerant</label>
            <input type="email" [(ngModel)]="alldatapoint.email_gerant"   name="emailgerant" id="emailgerant" class="form-control" placeholder={{infoprospect.email}} required>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="form-group col-md-6">
            <label>Prénom proprietaire</label>
            <input type="text" [(ngModel)]="alldatapoint.prenom_proprietaire"   name="prenomproprietaire" id="prenomproprietaire" class="form-control"  placeholder="prénom proprietaire" required>
          </div>
          <div class="form-group col-md-6">
            <label>Nom proprietaire</label>
            <input type="text" [(ngModel)]="alldatapoint.nom_proprietaire"   name="nomproprietaire" id="nomproprietaire" class="form-control" placeholder="nom proprietaire" required>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label>Téléphone proprietaire</label>
            <input type="number" [(ngModel)]="alldatapoint.telephone_proprietaire"   name="telephoneproprietaire" id="telephoneproprietaire" class="form-control" placeholder="téléphone proprietaire" required>
          </div>
          <div class="form-group col-md-6">
            <label>Email proprietaire</label>
            <input type="email" [(ngModel)]="alldatapoint.email_proprietaire"   name="emailproprietaire" id="emailproprietaire" class="form-control" placeholder="email proprietaire" required>
          </div>
        </div>
  </div>
</div>
<div class="row" style="padding-bottom: 2rem" *ngIf="alldatapoint && regionszonesactivites">
  <h3 type="button" class="btn btn-primary btn-circle" (click)="isinfocomplement = !isinfocomplement"><span><i class="fa fa-plus" *ngIf="!isinfocomplement"></i><i class="fa fa-window-minimize" *ngIf="isinfocomplement"></i> Info complementaire</span></h3>
  <div *ngIf="isinfocomplement">
    <hr>
    <div class="row">
      <div class="form-group col-sm-12 col-xs-12 ">
        <h4>Types d'activités du point</h4>
          <div class="row">
              <div  *ngFor="let option of optionsActivite"  class="col-sm-6 col-xs-12">
                  <input type="checkbox" name="optionsActivite" value="{{option.value}}"
                         [(ngModel)]="option.checked" (change)="updateCheckedoptionsActivite()"
                  />
                  {{option.name}}
              </div>
          </div>

      </div>
    </div>
  </div>
</div>

<div class="row center-block" style="padding-top: 2rem; padding-bottom: 1rem" *ngIf="!isEnregistrerProspect && alldatapoint">
  <div class="page-header col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-center center-block">
    <button type="button" class="btn btn-warning" (click)="enregistrerModif()"
            [disabled]="!alldatapoint.nom_point || !alldatapoint.email_gerant || !alldatapoint.email_proprietaire || !alldatapoint.telephone_gerant || !alldatapoint.telephone_proprietaire">Valider les nouvelles données</button>
  </div>
</div>

<div *ngIf="isEnregistrerProspect" class="page-header col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-center center-block">
    <ngb-alert [type]="'success'" *ngIf="!staticAlertClosed" (close)="staticAlertClosed = true">
        <strong>Successfull!</strong> <br/>Veuillez cliquer sur Fermer pour sortir!
    </ngb-alert>
</div>
