<h3 class="page-header"><u>Admin support</u></h3>
 <table class="table table-bordered">
                    <thead class="table-inverse">
                         <tr>
                            <th>Ordre</th>
                            <th>Numéro</th>
                            <th>Solde</th>
                            <th>Résultat</th>
                             <th>Action</th>
                          </tr>
                    </thead>
                    <tbody>
                          <tr>
                               <th scope="row" id="ordre">1</th>
                              <td id="numero">Mark</td>
                              <td id="solde">Otto</td>
                              <td  id="resultat">
                              	 <form class="form-inline">
                               	   	    <div class="input-group col-4">
                               	   	    	 <select class="form-control">
                               	   	    	 	   <option selected>Choose...</option>
                               	   	               <option value="secces">succés</option>
                               	   	               <option value="echec">échéc</option>
                               	            </select>
                               	   	    </div>
                               	   	    <div class="input-group col-4">
                               	   	    	 <select class="form-control">
                               	   	    	 	   <option selected>Choose...</option>
                               	   	               <option value="secces">404</option>
                               	   	               <option value="echec">34</option>
                               	            </select>
                               	   	    </div>
                               	   	    <div class="input-group col-4 ">
                               	   	    	<button type="valider" class="btn btn-primary">valider</button>
                               	   	    </div>
                               	   	    
                               	   </form>
                              </td>
                              <td id="action">
                              	  <form>
                               	   	    <div class="form-group ">
                               	   	    	<button type="button" class="btn btn-primary">Repositionner</button>
                               	   	    </div>
                               	   </form>
                              </td>
                          </tr>
                          <tr>
                              <th scope="row" id="ordre">2</th>
                              <td id="numero">Mark</td>
                              <td id="solde">Otto</td>
                              <td  id="resultat">
                              	 <form class="form-inline">
                               	   	    <div class="input-group col-4">
                               	   	    	 <select class="form-control">
                               	   	    	 	   <option selected>Choose...</option>
                               	   	               <option value="secces">succés</option>
                               	   	               <option value="echec">échéc</option>
                               	            </select>
                               	   	    </div>
                               	   	    <div class="input-group col-4">
                               	   	    	 <select class="form-control">
                               	   	    	 	   <option selected>Choose...</option>
                               	   	               <option value="secces">404</option>
                               	   	               <option value="echec">34</option>
                               	            </select>
                               	   	    </div>
                               	   	    <div class="input-group col-4">
                               	   	    	<button type="valider" class="btn btn-primary">valider</button>
                               	   	    </div>
                               	   	    
                               	   </form>
                              </td>
                              <td id="action">
                              	  <form>
                               	   	    <div class="form-group">
                               	   	    	<button type="button" class="btn btn-primary">Repositionner</button>
                               	   	    </div>
                               	   </form>
                              </td>
                          </tr>
   
                    </tbody>
                </table>