<div class="row" *ngIf="loading_data" style="margin-top:3rem; position: fixed; z-index: 100; width: 100%; height: 100%; vertical-align:middle; background-color: white; opacity: 0.7">
    <img src="assets/images/loading_1.gif" style="margin-left: 50%; margin-top: 19%; max-height: 10% !important;
"/>
</div>
<div class="row" style="padding-bottom: 1rem;padding-top: 1rem">
  	<div class="page-header col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-center center-block">
        <button type="button" [ngClass]="{'btn': true, 'btn-primary': !menuHead.menuHead1, 'btn-success': menuHead.menuHead1}" (click)="menuHeadClick(1)"  style="margin-bottom: 1rem;">Dashboard</button>
        <button type="button" [ngClass]="{'btn': true, 'btn-primary': !menuHead.menuHead2, 'btn-success': menuHead.menuHead2}" (click)="menuHeadClick(2)"  style="margin-bottom: 1rem;">Points crm</button>
        <button type="button" [ngClass]="{'btn': true, 'btn-primary': !menuHead.menuHead4, 'btn-success': menuHead.menuHead4}" (click)="menuHeadClick(4)"  style="margin-bottom: 1rem;">Points sentool</button>
        <button type="button" [ngClass]="{'btn': true, 'btn-primary': !menuHead.menuHead3, 'btn-success': menuHead.menuHead3}" (click)="menuHeadClick(3)"  style="margin-bottom: 1rem;">Affectation</button>
	</div>
    <hr>
</div>

<div  class="container-fluid" *ngIf="menuHead.menuHead1" >
    <div class="row" style="margin-top: 1rem; margin-bottom: 1rem; text-align: center" *ngIf="dashboardNbres">
        <div class="col-sm-3" style="margin-bottom: 1rem;">
            <div class="card text-white bg-info">
                <div class="card-body">
                    <h4 class="card-title">{{dashboardNbres.nbrenewpts}}</h4>
                    <p class="card-text">Points.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3" style="margin-bottom: 1rem;">
            <div class="card text-white bg-info">
                <div class="card-body">
                    <h4 class="card-title">{{dashboardNbres.nbreptsvalider}}</h4>
                    <p class="card-text">Points validés.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3" style="margin-bottom: 1rem;">
            <div class="card text-white bg-info">
                <div class="card-body">
                    <h4 class="card-title">{{dashboardNbres.nbreptssouscsenntool}}</h4>
                    <p class="card-text">Points souscrits à Sentool.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3" style="margin-bottom: 1rem;">
            <div class="card text-white bg-info">
                <div class="card-body">
                    <h4 class="card-title">{{dashboardNbres.nbrecoms}}</h4>
                    <p class="card-text">Commerciaux.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header card-primary">
                    <div class="panel panel-heading">
                        <h5>Etat Points.</h5>
                    </div>
                </div>
                <div class="card-body">
                    <canvas height="150" baseChart [data]="doughnutChartDataPP" [colors]="colorsEmptyObject" [labels]="doughnutChartLabelsPP" [chartType]="'doughnut'" ></canvas>
                </div>
            </div>
        </div>
    </div>

</div>

<div  class="container-fluid" *ngIf="menuHead.menuHead2" >
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="row">
                <table class="table table-hover table-responsive table-sm" [mfData]="listpointscrm | dataFilterPointManager: filterQuerypointscrm" #mfPointcrm="mfDataTable" [mfRowsOnPage]="rowsOnPagepointscrm" [(mfSortBy)]="sortBypointscrm" [(mfSortOrder)]="sortOrderpointscrm">
                    <thead>
                    <tr>
                        <th><mfDefaultSorter by="date_ajout">Date ajout</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="nom_point">Nom Point</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="fullname_gerant">Client</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="telephone_gerant">Téléphone</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="region_point">Région</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="zone_point">Zone</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="souszone_point">Sous zone</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="adresse_point">Adresse</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="profil">Profil</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="anciennete">Ancienneté</mfDefaultSorter></th>
                        <th style="margin: 0 auto; text-align: center">Action</th>
                    </tr>
                    <tr>
                        <th colspan="4"> Recherche: <input class="form-control" placeholder="Recherche" [(ngModel)]="filterQuerypointscrm"/></th>
                        <th>Total : {{listpointscrm.length}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of mfPointcrm.data; let i = index" [ngStyle]="{'color': 'black', 'background-color': (item.infosup.service_sentool==1 && item.infosup.service_wafacash==1)?'green':(item.infosup.service_sentool==1 && item.infosup.service_wafacash==0)?'orange':(item.infosup.service_sentool==0 && item.infosup.service_wafacash==1)?'yellow':'blue'}">
                        <td>{{item.date_ajout}}</td>
                        <td>{{item.nom_point}}</td>
                        <td>{{item.fullname_gerant}}</td>
                        <td>{{item.telephone_gerant}}</td>
                        <td>{{item.region_point}}</td>
                        <td>{{item.zone_point}}</td>
                        <td>{{item.souszone_point}}</td>
                        <td>{{item.adresse_point}}</td>
                        <td>{{item.profil}}</td>
                        <td>{{item.anciennete}}</td>
                        <td><button class="btn btn-secondary btn-sm" (click)="validsuppression(item)">Supprimer</button></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr class="text-center center-block">
                        <td colspan="8" class="text-center center-block">
                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25,50,100]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div  class="container-fluid" *ngIf="menuHead.menuHead3" >
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="row table-responsive">
                <table class="table table-hover" [mfData]="commerciaux | dataFilterCommercial: filterQueryCommercial" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPageCom" [(mfSortBy)]="sortByCom" [(mfSortOrder)]="sortOrderCom">
                    <thead>
                    <tr>
                        <th><mfDefaultSorter by="fullname">Commercial</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="telephone">Téléphone</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="email">Email</mfDefaultSorter></th>
                        <th> Superviseur affecté </th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <th colspan="2"> Recherche: <input class="form-control" placeholder="Recherche" [(ngModel)]="filterQueryCommercial"/></th>
                        <th>Total : {{commerciaux.length}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of mf.data; let i = index ">
                        <td>{{item.fullname}}</td>
                        <td>{{item.telephone}}</td>
                        <td>{{item.email}}</td>
                        <td *ngIf="item.id_superviseur && superviseurs && superviseurs.length!=0">
                            <select name="sselectcommercial-{{i}}"  id="sselectcommercial-{{i}}" class="form-control input-sm" [(ngModel)]="item.id_superviseur">
                                <option  *ngFor="let superviseur of superviseurs" [attr.value]="superviseur.id">{{superviseur.prenom}} {{superviseur.nom}}</option>
                            </select>
                        </td>
                        <td><button type="button" class="btn btn-primary btn-sm" (click)="reaffectercommercial(item)"> reaffecter </button></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr class="text-center center-block">
                        <td colspan="8" class="text-center center-block">
                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div  class="container-fluid" *ngIf="menuHead.menuHead4" >
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="row">
                <table class="table table-hover table-responsive table-sm" [mfData]="listpointssentool | dataFilterPointManager: filterQuerypointscrm" #mfPointcrm="mfDataTable" [mfRowsOnPage]="rowsOnPagepointscrm" [(mfSortBy)]="sortBypointscrm" [(mfSortOrder)]="sortOrderpointscrm">
                    <thead>
                    <tr>
                        <th><mfDefaultSorter by="date_ajout">Date ajout</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="nom_point">Nom Point</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="fullname_gerant">Client</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="telephone_gerant">Téléphone</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="region_point">Région</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="zone_point">Zone</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="souszone_point">Sous zone</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="adresse_point">Adresse</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="anciennete">Ancienneté</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="cautiondebase">Caution</mfDefaultSorter></th>
                        <th style="margin: 0 auto; text-align: center">Action</th>
                    </tr>
                    <tr>
                        <th colspan="4"> Recherche: <input class="form-control" placeholder="Recherche" [(ngModel)]="filterQuerypointscrm"/></th>
                        <th>Total : {{listpointssentool.length}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of mfPointcrm.data; let i = index" >
                        <td>{{item.date_ajout}}</td>
                        <td>{{item.nom_point}}</td>
                        <td>{{item.fullname_gerant}}</td>
                        <td>{{item.telephone_gerant}}</td>
                        <td>{{item.region_point}}</td>
                        <td>{{item.zone_point}}</td>
                        <td>{{item.souszone_point}}</td>
                        <td>{{item.adresse_point}}</td>
                        <td>{{item.anciennete}}</td>
                        <td>{{item.cautiondebase}}</td>
                        <td *ngIf="item.cautiondebase!=0">It works</td>
                        <td *ngIf="item.cautiondebase==0"><button class="btn btn-secondary btn-sm" (click)="validsuppressionsentool(item)">Supprimer</button></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr class="text-center center-block">
                        <td colspan="8" class="text-center center-block">
                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25,50,100]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
