<h3 class="page-header"><u>Superviseur</u></h3>
<div class="row" style="padding-top: 1rem ; margin-bottom: 3rem" >
    <div class="page-header col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-center center-block">
        <button type="button" [ngClass]="{'btn': true, 'btn-primary': !menuHead.menuHead1, 'btn-success': menuHead.menuHead1}" (click)="menuHeadClick(1)" style="margin-bottom: 1rem;">Assignation</button>
        <button type="button" [ngClass]="{'btn': true, 'btn-primary': !menuHead.menuHead2, 'btn-success': menuHead.menuHead2}" (click)="menuHeadClick(2)" style="margin-bottom: 1rem;">Suivi</button>
        <!--<button type="button" [ngClass]="{'btn': true, 'btn-primary': !menuHead.menuHead3, 'btn-success': menuHead.menuHead3}" (click)="menuHeadClick(3)" style="margin-bottom: 1rem;">Extraction</button>-->
        <button type="button" [ngClass]="{'btn': true, 'btn-primary': !menuHead.menuHead4, 'btn-success': menuHead.menuHead4}" (click)="menuHeadClick(4)" style="margin-bottom: 1rem;">Clients à relancer</button>
        <!--<button type="button" [ngClass]="{'btn': true, 'btn-primary': !menuHead.menuHead5, 'btn-success': menuHead.menuHead5}" (click)="menuHeadClick(5)" style="margin-bottom: 1rem;">Clients valider</button>-->
        <button type="button" [ngClass]="{'btn': true, 'btn-primary': !menuHead.menuHead6, 'btn-success': menuHead.menuHead6}" (click)="menuHeadClick(6)" style="margin-bottom: 1rem;">Mes commerciaux</button>
        <button type="button" [ngClass]="{'btn': true, 'btn-primary': !menuHead.menuHead7, 'btn-success': menuHead.menuHead7}" (click)="menuHeadClick(7)" style="margin-bottom: 1rem;">Deploiement</button>
        <button type="button" [ngClass]="{'btn': true, 'btn-primary': !menuHead.menuHead8, 'btn-success': menuHead.menuHead8}" (click)="menuHeadClick(8)" style="margin-bottom: 1rem;">Portefeuille</button>
        <button type="button" [ngClass]="{'btn': true, 'btn-primary': !menuHead.menuHead9, 'btn-success': menuHead.menuHead9}" (click)="menuHeadClick(9)" style="margin-bottom: 1rem;">Suivi Points Sentool</button>
    </div>
    <hr>
</div>

<div class="container-fluid" *ngIf="menuHead.menuHead1">
    <div class="row" style="padding-bottom: 2rem">
        <div class="col-sm-2">
            <label>Région</label>
            <select class="form-control input-sm" [(ngModel)]="filtreRegion"  (change)="selectRegion()">
                <option>--Choix région--</option>
                <option  *ngFor="let region of regions">{{region}}</option>
            </select>
        </div>
        <div class="col-sm-2">
            <label>Zone</label>
            <select class="form-control input-sm" [(ngModel)]="filtreZone" (change)="selectZone()">
                <option>--Choix zone--</option>
                <option  *ngFor="let zone of zones">{{zone}}</option>
            </select>
        </div>
        <div class="col-sm-3">
            <label>Sous zone</label>
            <select class="form-control input-sm" [(ngModel)]="filtreSousZone" (change)="selectSouszone()">
                <option>&#45;&#45;Choix sous zone&#45;&#45;</option>
                <option  *ngFor="let souszone of sousZonesOfCurrentZone()">{{souszone}}</option>
            </select>
        </div>
        <div class="col-sm-3">
            <label>Commercial</label>
            <select name="singleSelectcommercial"  id="singleSelectcommercial" class="form-control input-sm" [(ngModel)]="choixcommercial">
                <option [attr.value]="'-1'">--Choix commercial--</option>
                <option  *ngFor="let commercial of commercials" [attr.value]="commercial.id">{{commercial.prenom}} {{commercial.nom}}</option>
            </select>
        </div>
        <div class="col-sm-2">
            <label >Objectif</label>
            <input type="number" class="form-control input-sm"  [(ngModel)]="objetifcommercial" name="objetifcommercial" />
        </div>
    </div>
    <div *ngIf="isEnregistrerAssignation" class="row col-sm-12 text-center center-block">
        <ngb-alert [type]="'success'" *ngIf="!staticAlertClosed" (close)="staticAlertClosed = true">
            <strong>Success!</strong> Assignation avec success.
        </ngb-alert>
    </div>
    <div class="row col-sm-12 text-center center-block" style="padding-bottom: 1rem">
        <button type="button"
                class="btn btn-warning  input-sm"
                (click)="assignercommercial()"
                style="margin-left: auto; margin-right: auto;"
                [disabled]="
                    filtreZone == '--Choix zone--' ||
                    filtreRegion == '--Choix région--' ||
                    filtreSousZone == '--Choix sous zone--' ||
                    choixcommercial == '--Choix commercial--' ||
                    objetifcommercial <= 0 ||
                    selectedOptions.length <= 0
                ">Assigner</button>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="row table-responsive">
                <table class="table table-hover" [mfData]="optionassignations" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th><mfDefaultSorter by="libellepoint">Nom Point</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="fullname">Gérant(e)</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="telephone">Téléphone</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="adresse">Adresse</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="note">Note</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="commentaire">Commentaire</mfDefaultSorter></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of mf.data; let i = index ">
                        <td>
                            <input type="checkbox" name="items" value="{{item.value}}"
                                   [(ngModel)]="item.checked" (change)="updateCheckedOptions()"
                            />
                        </td>
                        <td>{{item.libellepoint}}</td>
                        <td>{{item.fullname}}</td>
                        <td>{{item.telephone}}</td>
                        <td>{{item.adresse}}</td>
                        <td><app-ratingbyoption [rate]="item.note-1" [ratingstatic]="true"></app-ratingbyoption></td>
                        <td><textarea  class="form-control" type="text" name="commentaire-{{i}}" placeholder="Notification" [(ngModel)]="item.commentaire">{{item.commentaire}}</textarea></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr class="text-center center-block">
                        <td colspan="8" class="text-center center-block">
                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div  class="container-fluid" *ngIf="menuHead.menuHead2" >
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="row table-responsive">
                <table class="table table-hover" [mfData]="datasuivi | dataFilterSuiviClient: filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                    <tr>
                        <th><mfDefaultSorter by="libellepoint">Nom Point</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="fullname">Gérant(e)</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="telephone">Téléphone</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="adresse">Adresse</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="note">Note commercial</mfDefaultSorter></th>
                        <th>Consultation</th>
                        <th>Qualification</th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <th colspan="2"> Recherche: <input class="form-control" placeholder="Recherche" [(ngModel)]="filterQuery"/></th>
                        <th>Total : {{datasuivi.length}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of mf.data; let i = index ">
                        <td>{{item.libellepoint}}</td>
                        <td>{{item.fullname}}</td>
                        <td>{{item.telephone}}</td>
                        <td>{{item.adresse}}</td>
                        <td><app-ratingbyoption [rate]="item.note-1" [ratingstatic]="true"></app-ratingbyoption></td>
                        <td><button type="button" class="btn btn-primary btn-sm" (click)="showModalDetail(contentSuivisuperviseurDetait,item)">Détail Prospect</button></td>
                        <td>
                            <select class="form-control input-sm" [(ngModel)]="item.qualification">
                                <option>--Choisir une action--</option>
                                <option>Valider</option>
                                <option>A relancer</option>
                                <option>Abandonner</option>
                            </select>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm" (click)="validersuivisuperviseur(item)"
                                [disabled]="item.qualification == '--Choisir une action--'">valider suivi</button>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr class="text-center center-block">
                        <td colspan="8" class="text-center center-block">
                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div  class="container-fluid" *ngIf="menuHead.menuHead3" >
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="row table-responsive">
                <table class="table table-hover" [mfData]="datasuivi | dataFilterSuiviClient: filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                    <tr>
                        <th><mfDefaultSorter by="libellepoint">Nom Point</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="fullname">Gérant(e)</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="telephone">Téléphone</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="adresse">Adresse</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="fullname">Service</mfDefaultSorter></th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <th colspan="2"> Recherche: <input class="form-control" placeholder="Recherche" [(ngModel)]="filterQuery"/></th>
                        <th>Total : {{datasuivi.length}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of mf.data; let i = index ">
                        <td>{{item.libellepoint}}</td>
                        <td>{{item.fullname}}</td>
                        <td>{{item.telephone}}</td>
                        <td>{{item.adresse}}</td>
                        <td>service</td>
                        <td><button class="btn btn-primary btn-sm" (click)="showModal(content,i)">Extraire document</button></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr class="text-center center-block">
                        <td colspan="8" class="text-center center-block">
                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div  class="container-fluid" *ngIf="menuHead.menuHead4" >
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="row table-responsive">
                <table class="table table-hover" [mfData]="datasuiviarelancer | dataFilterSuiviClient: filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                    <tr>
                        <th><mfDefaultSorter by="libellepoint">Nom Point</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="fullname">Gérant(e)</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="telephone">Téléphone</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="adresse">Adresse</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="note">Note commercial</mfDefaultSorter></th>
                        <th>Consultation</th>
                        <th>Qualification</th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <th colspan="2"> Recherche: <input class="form-control" placeholder="Recherche" [(ngModel)]="filterQuery"/></th>
                        <th>Total : {{datasuiviarelancer.length}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of mf.data; let i = index ">
                        <td>{{item.libellepoint}}</td>
                        <td>{{item.fullname}}</td>
                        <td>{{item.telephone}}</td>
                        <td>{{item.adresse}}</td>
                        <td><app-ratingbyoption [rate]="item.note-1" [ratingstatic]="true"></app-ratingbyoption></td>
                        <td><button type="button" class="btn btn-primary btn-sm" (click)="showModalDetail(contentSuivisuperviseurDetait,item)">Détail Prospect</button></td>
                        <td>
                            <select class="form-control input-sm" [(ngModel)]="item.qualification">
                                <option>--Choisir une action--</option>
                                <option>Valider</option>
                                <option>A relancer</option>
                                <option>Abandonner</option>
                            </select>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm" (click)="validersuiviarelancersuperviseur(item)"
                                    [disabled]="item.qualification == '--Choisir une action--'">valider suivi</button>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr class="text-center center-block">
                        <td colspan="8" class="text-center center-block">
                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div  class="container-fluid" *ngIf="menuHead.menuHead5" >
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="row table-responsive">
                <table class="table table-hover" [mfData]="datasuivivalider | dataFilterSuiviClient: filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                    <tr>
                        <th><mfDefaultSorter by="libellepoint">Nom Point</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="fullname">Gérant(e)</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="telephone">Téléphone</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="adresse">Adresse</mfDefaultSorter></th>
                        <th>Consultation</th>
                    </tr>
                    <tr>
                        <th colspan="2"> Recherche: <input class="form-control" placeholder="Recherche" [(ngModel)]="filterQuery"/></th>
                        <th>Total : {{datasuivivalider.length}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of mf.data; let i = index ">
                        <td>{{item.libellepoint}}</td>
                        <td>{{item.fullname}}</td>
                        <td>{{item.telephone}}</td>
                        <td>{{item.adresse}}</td>
                        <td><button type="button" class="btn btn-primary btn-sm" (click)="showModalDetail(contentSuivisuperviseurDetait,item)">Détail Prospect</button></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr class="text-center center-block">
                        <td colspan="8" class="text-center center-block">
                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div  class="container-fluid" *ngIf="menuHead.menuHead6" >
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="row table-responsive">
                <table class="table table-hover" [mfData]="commercials" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortByCom" [(mfSortOrder)]="sortOrderCom">
                    <thead>
                    <tr>
                        <th><mfDefaultSorter by="fullname">Commercial</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="telephone">Téléphone</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="email">Email</mfDefaultSorter></th>
                    </tr>
                    <tr>
                        <th colspan="2"> Recherche: <input class="form-control" placeholder="Recherche" [(ngModel)]="filterQuery"/></th>
                        <th>Total : {{commercials.length}}</th>
                        <th colspan="2" style="text-align: right"><button type="button"  (click)="showModalCommercial(contentAjoutCommercial,false)" class="btn btn-warning"> ajouter commercial </button></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of mf.data; let i = index ">
                        <td>{{item.fullname}}</td>
                        <td>{{item.telephone}}</td>
                        <td>{{item.email}}</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr class="text-center center-block">
                        <td colspan="8" class="text-center center-block">
                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" *ngIf="menuHead.menuHead7">
	<table class="table table-striped table-codensed">
                    <tr>
						<th>#</th>
                        <th>Nom Point</th>
                        <th>Gérant(e)</th>
                        <th>Téléphone</th>
                        <th>Adresse</th>
                        <th>commercial</th>
                        <th>Action</th>
                    </tr>
	               <tr *ngFor="let p of prospects let i=index">
					   <th>{{i+1}}</th>
	                   <td>{{p.libellepoint}}</td>
	                   <td>{{p.fullname}}</td>
	                   <td>{{p.telephone}}</td>
	                   <td>{{p.adresse}}</td>
	                   <td>{{p.nomcommercial}}</td>
	                   <td><input type="button" (click)="rep1= false; ajout(contentnewclient,p)" value="action" class="btn btn-primary" /></td>

	               </tr>

	</table>

</div>

<div class="container-fluid" *ngIf="menuHead.menuHead8" >
    <table class="table table-striped table-codensed">
        <tr>
            <th>#</th>
            <th>Date</th>
            <th>Nom Point</th>
            <th>Gérant(e)</th>
            <th>Téléphone</th>
            <th>Adresse</th>
            <th>Commercial</th>
        </tr>
        <tr *ngFor="let p of clients let i=index">
            <td>{{i+1}}</td>
            <td>{{p.date_ajout}}</td>
            <td>{{p.nom_point}}</td>
            <td>{{p.gerant}}</td>
            <td>{{p.tel}}</td>
            <td>{{p.adresse}}</td>
            <td>{{p.commercial}}</td>
        </tr>

    </table>

</div>

<div class="container-fluid" *ngIf="menuHead.menuHead9" >
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header card-primary">
                    <div class="panel panel-heading">
                        <label class="btn btn-danger" (click)="estcheckPerformancePPV('journee')">La journée</label>&nbsp;
                        <label class="btn btn-danger" (click)="estcheckPerformancePPV('semaine')">La semaine</label>&nbsp;
                        <label class="btn btn-danger" (click)="estcheckPerformancePPV('mois')">Le mois</label>
                        <h5><i class="fa fa-pie-chart"></i>Performances des points par lot {{ typeperformancePPV }}.</h5>
                    </div>
                </div>
                <div class="card-body">
                    <canvas height="150px" baseChart
                        [labels]="doughnutChartLabelsPPV"
                        [datasets]="datasetsPPV"
                        [colors]="colorsEmptyObject"
                        [chartType]="'doughnut'"
                        (chartClick)="chartClickedPPV($event)"
                    ></canvas>
                </div>
            </div>
        </div>

        <div class="col-sm-6" *ngIf="performancesadminpdv">
            <div class="card">
                <div class="card-header card-primary">
                    <div class="panel panel-heading">
                        <h5>Détail par {{typedateperformancesadminpdv}}/{{lotperformancesadminpdv}}.</h5>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-responsive" [mfData]="performancesadminpdv" #mfppv="mfDataTable"
                           [mfRowsOnPage]="rowsOnPagePPV" [(mfSortBy)]="sortByPPV" [(mfSortOrder)]="sortOrderPPV">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th><mfDefaultSorter by="adminpdv">Superviseur pdv</mfDefaultSorter></th>
                            <th><mfDefaultSorter by="telephone">Telephone</mfDefaultSorter></th>
                            <th><mfDefaultSorter by="recette">Recette</mfDefaultSorter></th>
                            <th>Option</th>
                        </tr>
                        <tr>
                            <th colspan="4"><label class="label-control">Recherche: <input class="form-control" [(ngModel)]="filterQuery"/></label></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let admin of mfppv.data; let i = index">
                            <td>{{ i + 1  }}</td>
                            <td>{{admin.adminpdv}}</td>
                            <td>{{admin.telephone}}</td>
                            <td>{{admin.recette}}</td>
                            <td><button (click)="detailperformancesadminclasserbydateandlot(admin,contentSuiviPointsperformanceByLot)">Détail</button></td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="5">
                                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25,50,100]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<ng-template #contentnewclient let-c="close" >
	<div class="modal-header">
		<p>nouveau client sentool</p>
	</div>
 <div class="modal-body">
  <form #for="ngForm" name="form" method="post">
	  <div>
		 <div class="form-inline">
		    <input name="entreprise" [(ngModel)]="entreprise" type="text" value="" style="margin-right:5px" placeholder="nom de l'entreprise" class="form-control" required />
		    <input type="text" name="boutique" [(ngModel)]="boutique" placeholder="nom de la boutique en ligne" class="form-control" required />
		 </div>
	  </div><br>
	  <div>
		  <div class="form-group form-inline">
			  <input type="text" name="prenom" [(ngModel)]="prenom" style="margin-right:5px" placeholder="prenom client" class="form-control" required />
			  <input type="text" name="nom" [(ngModel)]="nom" placeholder="nom client" class="form-control" />
		  </div><br>
		  <div class="form-group form-inline">
			  <input type="email" name="email" [(ngModel)]="email" style="margin-right:5px" placeholder="email gerant" class="form-control" required />
			  <input type="text" name="tel" [(ngModel)]="tel" placeholder="telephone gerant" class="form-control" required />
		  </div><br>
	  </div>
	   <div class="row" >
                       <div class="form-group col-sm-4">
                          <label for="regionSentool">Région</label>
                          <input type="text" name="region" [(ngModel)]="region" class="form-control input-sm" id="regionSentool" required />
                      </div>
                      <div class="form-group col-sm-4">
                          <label for="zoneSentool">Zones</label>
                          <input type="text" name="zne" [(ngModel)]="zne" class="form-control input-sm" id="zoneSentool" required />
                      </div>
                      <div class="form-group col-sm-4">
                          <label for="souszoneSentool">Sous zones</label>
                          <input type="text" name="szone" [(ngModel)]="szone" class="form-control input-sm" id="souszoneSentool" required />

                      </div>
         </div>
      <div class="row">
        <div class="form-group col-sm-10">
			 <label>adresse exacte</label>
			 <input name="adresse" [(ngModel)]="adresse" type="text" class="form-control" placeholder="adresse exacte" />
        </div>
	  </div>
	  <input *ngIf="!rep1" type="button" [disabled]="!for.valid" (click)="validernewclientsentool(for)"  value="valider" class="btn btn-success" />
   </form>
     <h5 *ngIf="rep1" class="alert alert-success text-center" style="text-align: center">Enregistrement Reussi</h5>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-danger" (click)="c('Close click')">fermer</button>
	</div>

</ng-template>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title"> Extraction</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
            <div class="row table-responsive">
                <table class="table table-hover" [mfData]="currentPointDocs" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <th>Libelle document</th>
                        <th>Lien</th>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of mf.data; let i = index ">
                        <td>{{getLibellePiece(item)}}</td>
                        <td><a href="http://abonnement.bbstvnet.com/crmbbs/server-backend-upload/uploads/{{getNomFichier(item)}}">Afficher</a></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr class="text-center center-block">
                        <td colspan="8" class="text-center center-block">
                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
</ng-template>

<ng-template #contentSuivisuperviseurDetait let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title"> Suivi de </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
            <div class="row table-responsive">
                <table class="table table-hover" [mfData]="reponsesPointAuProspect" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <th>Service</th>
                        <th>Réponse du Point</th>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of mf.data; let i = index ">
                        <td>{{getLibellePiece(item)}}</td>
                        <td>{{getNomFichier(item)}}</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr class="text-center center-block">
                        <td colspan="8" class="text-center center-block">
                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
</ng-template>

<ng-template #contentAjoutCommercial let-c="close" let-d="dismiss" >
    <div class="modal-body">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
        <app-formuserbbs [commercial]="commercial"></app-formuserbbs>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click'); getCommerciaux()">Fermer</button>
    </div>
</ng-template>

<ng-template #contentSuiviPointsperformanceByLot let-c="close" let-d="dismiss" >
    <div class="modal-content" *ngIf="performancesadminpdvbyadmin">
        <div class="modal-header">
            <h4 class="modal-title pull-left">Détail par caissier</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <table class="table table-responsive">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Caissier</th>
                                <th>Telephone</th>
                                <th>Operateur</th>
                                <th>Traitement</th>
                                <th>Montant</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let caissier of performancesadminpdvbyadmin; let i = index ">
                                <td>{{i + 1}}</td>
                                <th>{{caissier.fullname}}</th>
                                <th>{{caissier.telephone}}</th>
                                <td>{{caissier.operateur}}</td>
                                <td>{{caissier.traitement}}</td>
                                <td>{{caissier.montanttotal}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
