<h3 class="page-header">Manager</h3>
<div class="row" style="padding-bottom: 2rem" >
    <div class="page-header col-xs-12 col-sm-12" style="padding-bottom: 2rem">
        <div class="card">
            <div class="card-header">
                Performances globales
            </div>
            <div class="card-block">
				  <div style="display: block">
				  <canvas height="100" baseChart
				              [data]="doughnutChartData"
				              [labels]="doughnutChartLabels"
				              [chartType]="doughnutChartType"
				              (chartHover)="chartHovered($event)"
				              (chartClick)="chartClicked($event)">       	
				  </canvas>
				</div>
            </div>
        </div>
    </div>    
</div>
<div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="row table-responsive">
		        <table class="table table-hover" [mfData]="datamanager" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBymanager" [(mfSortOrder)]="sortOrder">
	                <thead>
	                    <tr>
	                        <th><mfDefaultSorter by="libellepoint">Nom Point</mfDefaultSorter></th>
	                        <th><mfDefaultSorter by="fullname">Gérant(e)</mfDefaultSorter></th>
	                        <th><mfDefaultSorter by="telephone">Téléphone</mfDefaultSorter></th>
	                        <th><mfDefaultSorter by="adresse">Adresse</mfDefaultSorter></th>
	                        <th><mfDefaultSorter by="note">Note</mfDefaultSorter></th>
	                        <th><mfDefaultSorter by="commentaire">Commentaire</mfDefaultSorter></th>
	                    </tr>
	                </thead>
	                <tbody>
	                    <tr>
	                        <td>OKA</td>
	                        <td>Assane KA</td>
	                        <td>775054827</td>
	                        <td>Keur Mbaye Fall</td>
	                        <td>8</td>
	                        <td>efficace</td>
	                    </tr>
	                </tbody>
                </table>
            </div>
        </div>
	</div>

