<div [@routerTransition]>
    <app-page-header [heading]="'Mes contacts'" [icon]="'fa-table'"></app-page-header>

    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="row table-responsive">
                <table class="table table-hover" [mfData]="points | dataFilterContact: filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                    <tr>
                        <th><mfDefaultSorter by="date_ajout">Date ajout</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="libellepoint">Nom Point</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="fullname_proprietaire">Propriétaire</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="fullname">Gérant(e)</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="telephone_gerant">Téléphone</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="email_gerant">email</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="adresse">Adresse</mfDefaultSorter></th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <th colspan="5">Recherche: <input class="form-control" [(ngModel)]="filterQuery"/></th>
                        <th>Total : {{points.length}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of mf.data; let i = index ">
                        <td>{{item.date_ajout}}</td>
                        <td>{{item.libellepoint}}</td>
                        <td>{{item.fullname_proprietaire}}</td>
                        <td>{{item.fullname_gerant}}</td>
                        <td>{{item.telephone_gerant}}</td>
                        <td>{{item.email_gerant}}</td>
                        <td>{{item.adresse}}, {{item.sous_zone}}, {{item.zone}}, {{item.region}}</td>
                        <td><button type="button" class="btn btn-primary btn-sm" (click)="showModalModifPoint(contentModifPoint, item)">Modifier</button></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr class="text-center center-block">
                        <td colspan="8" class="text-center center-block">
                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<ng-template #contentModifPoint let-c="close" let-d="dismiss" >
    <div class="modal-body">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
        <app-modif-pdv [infoprospect]="point"></app-modif-pdv>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click'); getPointByCommercial();">Fermer</button>
    </div>
</ng-template>

