<h3 class="page-header"><u>Administrateur commercial</u></h3>
<div class="row" style="padding-bottom: 1rem;padding-top: 1rem">
  	<div class="page-header col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-center center-block">
		<button type="button" [ngClass]="{'btn': true, 'btn-primary': !menuHead.menuHead1, 'btn-success': menuHead.menuHead1}" (click)="menuHeadClick(1)">Assignation</button>
        <button type="button" [ngClass]="{'btn': true, 'btn-primary': !menuHead.menuHead2, 'btn-success': menuHead.menuHead2}" (click)="menuHeadClick(2)">Suivi</button>
        <button type="button" [ngClass]="{'btn': true, 'btn-primary': !menuHead.menuHead3, 'btn-success': menuHead.menuHead3}" (click)="menuHeadClick(3)">Affectation</button>
        <button type="button" [ngClass]="{'btn': true, 'btn-primary': !menuHead.menuHead4, 'btn-success': menuHead.menuHead4}" (click)="menuHeadClick(4)">Les nouveaux points</button>
        <button type="button" [ngClass]="{'btn': true, 'btn-primary': !menuHead.menuHead5, 'btn-success': menuHead.menuHead5}" (click)="menuHeadClick(5)">Les points déployés</button>
	</div>
    <hr>
</div>

<div class="container-fluid" *ngIf="menuHead.menuHead1">
	<div class="row" style="padding-bottom: 2rem">
        <div class="col-sm-2">
            <label>Région</label>
            <select class="form-control input-sm" [(ngModel)]="filtreRegion" (change)="selectRegion()">
                <option>--Choix région--</option>
                <option  *ngFor="let region of regions">{{region.nom}}</option>
            </select>
        </div>
        <div class="col-sm-2">
            <label>Zone</label>
            <select class="form-control input-sm" [(ngModel)]="filtreZone" (change)="selectZone()">
                <option>--Choix zone--</option>
                <option  *ngFor="let zone of zones">{{zone.nom}}</option>
            </select>
        </div>
        <div class="col-sm-3">
            <label>Sous zone</label>
            <select class="form-control input-sm" [(ngModel)]="filtreSousZone"  (change)="selectSouszone()">
                <option>--Choix sous zone--</option>
                <option  *ngFor="let souszone of souszones">{{souszone.nom}}</option>
            </select>
        </div>
        <div class="col-sm-3">
            <label>Superviseur</label>
            <select name="singleSelectsuperviseur"  id="singleSelectsuperviseur" class="form-control input-sm" [(ngModel)]="choixsuperviseur">
                <option [attr.value]="'-1'">--Choix superviseur--</option>
                <option  *ngFor="let superviseur of superviseurs" [attr.value]="superviseur.id">{{superviseur.prenom}} {{superviseur.nom}}</option>
            </select>
        </div>
        <div class="col-sm-2">
            <label >Objectif</label>
            <input type="number" class="form-control input-sm"  [(ngModel)]="objetifsuperviseur" name="objetifsuperviseur" />
        </div>
	</div>
    <div *ngIf="isEnregistrerAssignation" class="row col-sm-12 text-center center-block">
        <ngb-alert [type]="'success'" *ngIf="!staticAlertClosed" (close)="staticAlertClosed = true">
            <strong>Success!</strong> Assignation avec success.
        </ngb-alert>
    </div>
    <div class="row col-sm-12 text-center center-block" style="padding-bottom: 1rem">
    	<button type="button"
                class="btn btn-warning  input-sm"
                (click)="assignersuperviseur()"
                style="margin-left: auto; margin-right: auto;"
                [disabled]="
                    filtreRegion == '--Choix région--' ||
                    filtreZone == '--Choix zone--' ||
                    filtreSousZone == '--Choix sous zone--' ||
                    choixsuperviseur == '--Choix superviseur--' ||
                    objetifsuperviseur <= 0 ||
                    selectedOptions.length <= 0
                ">Assigner</button>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="row table-responsive">
		        <table class="table table-hover" [mfData]="optionassignations" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
	                <thead>
	                    <tr>
	                        <th>#</th>
	                        <th><mfDefaultSorter by="libellepoint">Nom Point</mfDefaultSorter></th>
	                        <th><mfDefaultSorter by="fullname">Gérant(e)</mfDefaultSorter></th>
	                        <th><mfDefaultSorter by="telephone">Téléphone</mfDefaultSorter></th>
	                        <th><mfDefaultSorter by="adresse">Adresse</mfDefaultSorter></th>
	                        <th><mfDefaultSorter by="note">Note</mfDefaultSorter></th>
	                        <th><mfDefaultSorter by="commentaire">Commentaire</mfDefaultSorter></th>
	                    </tr>
	                </thead>
	                <tbody>
	                    <tr *ngFor="let item of mf.data; let i = index ">
	                        <td><input type="checkbox" name="items" value="{{item.value}}" [(ngModel)]="item.checked" /></td>
	                        <td>{{item.libellepoint}}</td>
	                        <td>{{item.fullname}}</td>
	                        <td>{{item.telephone}}</td>
	                        <td>{{item.adresse}}</td>
	                        <td><app-ratingbyoption [rate]="item.note-1" [ratingstatic]="true"></app-ratingbyoption></td>
	                        <td><textarea  class="form-control" type="text" name="commentaire-{{i}}" placeholder="Notification" [(ngModel)]="item.commentaire">{{item.commentaire}}</textarea></td>
	                    </tr>
	                </tbody>
	                <tfoot>
	                    <tr class="text-center center-block">
	                        <td colspan="8" class="text-center center-block">
	                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
	                        </td>
	                    </tr>
	                </tfoot>
                </table>
            </div>
        </div>
	</div>
</div>


<div  class="container-fluid" *ngIf="menuHead.menuHead2" >
	<app-adminsuivi></app-adminsuivi>
</div>

<div  class="container-fluid" *ngIf="menuHead.menuHead3" >
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="row table-responsive">
                <table class="table table-hover" [mfData]="commercials | dataFilterCommercial: filterQueryCommercial" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPageCom" [(mfSortBy)]="sortByCom" [(mfSortOrder)]="sortOrderCom">
                    <thead>
                    <tr>
                        <th><mfDefaultSorter by="fullname">Commercial</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="telephone">Téléphone</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="email">Email</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="fullnamesuperviseur">Superviseur affecté</mfDefaultSorter></th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <th colspan="2"> Recherche: <input class="form-control" placeholder="Recherche" [(ngModel)]="filterQueryCommercial"/></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of mf.data; let i = index ">
                        <td>{{item.fullname}}</td>
                        <td>{{item.telephone}}</td>
                        <td>{{item.email}}</td>
                        <td>
                            <select name="singleSelectcommercial-{{i}}"  id="singleSelectcommercial-{{i}}" class="form-control input-sm" [(ngModel)]="item.id_superviseur" (change)="choixsuperviseurforcommercial(item.id_superviseur)">
                                <option  *ngFor="let superviseur of superviseurs" [attr.value]="superviseur.id">{{superviseur.prenom}} {{superviseur.nom}}</option>
                            </select>
                        </td>
                        <td><button type="button" class="btn btn-primary btn-sm" (click)="reaffectercommercial(item)"> reaffecter </button></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr class="text-center center-block">
                        <td colspan="8" class="text-center center-block">
                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div  class="container-fluid" *ngIf="menuHead.menuHead4" >
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="row table-responsive">
                <table class="table table-hover" [mfData]="listenewpoints | dataFilterNewPoint: filterQueryNewPoint" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPageCom" [(mfSortBy)]="sortByCom" [(mfSortOrder)]="sortOrderCom">
                    <thead>
                    <tr>
                        <th><mfDefaultSorter by="date_ajout">Date ajout</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="nom_point">Nom Point</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="fullname_gerant">Gérant(e)</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="telephone_gerant">Téléphone</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="adresse_point">Adresse</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="fullname_commercial">Commercial</mfDefaultSorter></th>
                    </tr>
                    <tr>
                        <th colspan="4"> Recherche: <input class="form-control" placeholder="Recherche" [(ngModel)]="filterQueryCommercial"/></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of mf.data; let i = index ">
                        <td>{{item.date_ajout | date}}</td>
                        <td>{{item.nom_point}}</td>
                        <td>{{item.fullname_gerant}}</td>
                        <td>{{item.telephone_gerant}}</td>
                        <td>{{item.adresse_point}}</td>
                        <td>{{item.fullname_commercial}}</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr class="text-center center-block">
                        <td colspan="8" class="text-center center-block">
                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div  class="container-fluid" *ngIf="menuHead.menuHead5" >
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="row table-responsive">
                <table class="table table-hover" [mfData]="commercials | dataFilterCommercial: filterQueryCommercial" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPageCom" [(mfSortBy)]="sortByCom" [(mfSortOrder)]="sortOrderCom">
                    <thead>
                    <tr>
                        <th><mfDefaultSorter by="fullname">Commercial</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="telephone">Téléphone</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="email">Email</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="fullnamesuperviseur">Superviseur affecté</mfDefaultSorter></th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <th colspan="2"> Recherche: <input class="form-control" placeholder="Recherche" [(ngModel)]="filterQueryCommercial"/></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of mf.data; let i = index ">
                        <td>{{item.fullname}}</td>
                        <td>{{item.telephone}}</td>
                        <td>{{item.email}}</td>
                        <td>
                            <select name="singleSelectcommercial-{{i}}"  id="singleSelectcommercial-{{i}}" class="form-control input-sm" [(ngModel)]="item.id_superviseur" (change)="choixsuperviseurforcommercial(item.id_superviseur)">
                                <option  *ngFor="let superviseur of superviseurs" [attr.value]="superviseur.id">{{superviseur.prenom}} {{superviseur.nom}}</option>
                            </select>
                        </td>
                        <td><button type="button" class="btn btn-primary btn-sm" (click)="reaffectercommercial(item)"> reaffecter </button></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr class="text-center center-block">
                        <td colspan="8" class="text-center center-block">
                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

