
<agm-map [latitude]="adresse_point.geospatialpoint.latitude" [longitude]="adresse_point.geospatialpoint.longitude" [zoom]="zoom">
    <agm-marker [label]="'Point'" [latitude]="adresse_point.geospatialpoint.latitude" [longitude]="adresse_point.geospatialpoint.longitude" [iconUrl]="'http://icons.iconarchive.com/icons/icons-land/vista-map-markers/48/Map-Marker-Ball-Chartreuse-icon.png'"></agm-marker>
    <!-- <agm-marker [label]="'Proprietaire'" [latitude]="adresse_proprietaire.geospatialproprietaire.latitude" [longitude]="adresse_proprietaire.geospatialproprietaire.latitude" [iconUrl]="'http://download.seaicons.com/icons/icons-land/vista-map-markers/64/Map-Marker-Flag-1-Left-Pink-icon.png'" ></agm-marker> -->
</agm-map>
